<div id="Quest">
	<div class="border">
		<div class="titlebar" data-background="basic_interface/btnbar_mid2.bmp">
			<div class="left">
				<button class="base" data-background="basic_interface/sys_base_off.bmp" data-hover="basic_interface/sys_base_on.bmp"></button>
				<span class="text">Quest</span>
			</div>
			<div class="right">
				<button class="base mini" data-background="basic_interface/sys_mini_off.bmp" data-hover="basic_interface/sys_mini_on.bmp"></button>
				<button class="base close" data-background="basic_interface/sys_close_off.bmp" data-hover="basic_interface/sys_close_on.bmp"></button>
			</div>
			<div class="clear"></div>
		</div>
		<div class="overlay"></div>
		<div class="panel" style="position: relative;">
			<div class="menu">
				<ul>
					<li class="evt" data-id="evt"><button>Event</button></li>
					<li class="cd" data-id="cd"><button>Colddown</button></li>
					<li class="reco" data-id="nq"><button>Recom</button></li>
					<li class="pen" data-id="pen"><button>Pending</button></li>
					<li class="act active" data-id="active"><button>Active</button></li>
				</ul>
			</div>
			<div class="content">
				<div class="left-content">
					<div class="questlist"></div>
				</div>
				<div class="right-content" data-background="basic_interface/questinfobackground.bmp">
					<div class="container-title"></div>
					<div class="container-description"></div>
					<div class="container-instruction"></div>
				</div>
			</div>
		</div>
	</div>
</div>
