#ChatBoxSettings {
	position: absolute;
	top: 50%;
	left: 50%;
	display: none;
	width: 255px;
}
#ChatBoxSettings table {
	border-spacing: 0px;
	display: inline-block;
}

#ChatBoxSettings .titlebar {
	width: 100%;
	height: 17px;
	background-color: white;
	background-repeat: repeat-x;
	border-radius: 4px 4px 0px 0px;
}
#ChatBoxSettings .titlebar .base {
	width: 11px;
	height: 11px;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	vertical-align: middle;
}
#ChatBoxSettings .titlebar .text {
	text-shadow: 1px 1px white;
	vertical-align: -2px;
	display: inline-block;
	height: 13px;
}

#ChatBoxSettings .titlebar .left {
	margin-left: 3px;
	float: left;
}
#ChatBoxSettings .titlebar .right {
	float: right;
	margin-right: 3px;
}
#ChatBoxSettings .titlebar .clear {
	clear: both;
}

#ChatBoxSettings .panel {
	background-color: white;
}
#ChatBoxSettings .content {
	height: 197px;
}
#ChatBoxSettings .content .clear {
	clear: both;
}

#ChatBoxSettings .content .members {
	width: 26%;
	height: 120px;
	float: left;
	overflow-y: auto;
	overflow-x: hidden;
	padding-top: 5px;
	padding-left: 3px;
}
#ChatBoxSettings .content .owner {
	color: #36716d;
}

#ChatBoxSettings .send {
	height: 30px;
	position: relative;
	padding-left: 5px;
}
#ChatBoxSettings .send input {
	width: 100%;
	height: 20px;
	padding: 0px;
	border: none;
	border-top: 1px solid #ccc;
}

#ChatBoxSettings .overlay {
	position: absolute;
	display: none;
	white-space: nowrap;
	z-index: 900;
	height: 13px;
	padding: 5px;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	text-shadow: 1px 1px black;
}
#ChatBoxSettings .overlay.grey {
	color: #aaa;
}

#ChatBoxSettings .extend {
	width: 13px;
	height: 13px;
	border: none;
	background-repeat: no-repeat;
	background-color: transparent;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
#ChatBoxSettings .listoption {
	width: 231px;
	float: right;
	background: #ffffff;
	height: 166px;
	overflow-y: auto;
	padding-left: 5px;
	padding-bottom: 5px;
	border-left: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}
#ChatBoxSettings .listoption button {
	width: 100%;
	text-align: left;
	background: #fff;
	border: 0;
	margin-bottom: 3px;
	margin-top: 2px;
	background-repeat: no-repeat;
	padding-left: 19px;
	height: 15px;
	text-overflow: ellipsis;
}
#ChatBoxSettings .listoption button:hover {
	border: 1px solid #000;
}

#ChatBoxSettings .footer-opt {
	margin-top: 5px;
	width: 231px;
	float: right;
}
