<div id="Refine">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button class="base" data-background="basic_interface/sys_base_off.bmp" data-hover="basic_interface/sys_base_on.bmp"></button>
			<span class="text" data-text="3241"></span>
		</div>
		<div class="right">
			<button class="base close" data-background="basic_interface/sys_close_off.bmp" data-hover="basic_interface/sys_close_on.bmp"></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="overlay"></div>
	<div class="panel">
		<div class="image-container" data-background="refining_renewal/bg_refining_wait_00.bmp">
			<div class="success"></div>
			<div class="materials">
				<div class="mat_0 mat_overlay" data-background="refining_renewal/slot_select_blue0.bmp">
					<div class="material_0"></div>
				</div>
				<div class="mat_1 mat_overlay" data-background="refining_renewal/slot_select_blue1.bmp">
					<div class="material_1"></div>
				</div>
				<div class="mat_2 mat_overlay" data-background="refining_renewal/slot_select_blue2.bmp">
					<div class="material_2"></div>
				</div>
				<div class="mat_3 mat_overlay" data-background="refining_renewal/slot_select_blue3.bmp">
					<div class="material_3"></div>
				</div>
				<div class="bsb_overlay" data-background="refining_renewal/slot_select_red.bmp">
					<div class="bsb"></div>
				</div>
				<div class="selected_materials">
					<div class="selected_mat"></div>
					<div class="bsb_selected"></div>
				</div>
			</div>
			<div class="item_to_refine"></div>
			<div class="item_to_refine_name"></div>
			<div class="refine_button">
				<div class="refine_disabled" data-background="refining_renewal/bt_refining_disable.bmp"></div>
				<div class="refine_enabled" data-background="refining_renewal/bt_refining_normal.bmp" data-down="refining_renewal/bt_refining_press.bmp"></div>
				<div class="refine_text" data-text="3241"></div>
				<div class="refine_zeny"></div>
			</div>
			<div class="back_button">
				<div class="back_success" data-text="2973" data-background="refining_renewal/bt_refining_return_success_normal.bmp" data-down="refining_renewal/bt_refining_return_success_press.bmp"></div>
				<div class="back_fail" data-text="2973" data-background="refining_renewal/bt_refining_return_fail_normal.bmp" data-down="refining_renewal/bt_refining_return_fail_press.bmp"></div>
			</div>
			<div class="refine_cont">
				<div class="success_refine_cont_enabled" data-background="refining_renewal/bt_refining_again_success_normal.bmp" data-down="refining_renewal/bt_refining_again_success_press.bmp"></div>
				<div class="success_refine_cont_disabled" data-background="refining_renewal/bt_refining_again_success_disable.bmp"></div>
				<div class="fail_refine_cont_enabled" data-background="refining_renewal/bt_refining_again_fail_normal.bmp" data-down="refining_renewal/bt_refining_again_fail_press.bmp"></div>
				<div class="fail_refine_cont_disabled" data-background="refining_renewal/bt_refining_again_fail_disable.bmp"></div>
				<div class="refine_text_cont" data-text="3241"></div>
				<div class="chance_rate"></div>
				<div class="refine_zeny_cont"></div>
			</div>
		</div>
		<div class="footer" data-background="basic_interface/btnbar_mid2.bmp">
			<div class="some_notifs">
				<div class="notif" data-background="refining_renewal/ico_notice.bmp"></div>
				<span class="info_msg"></span>
			</div>
			<div class="cancel" data-background="btn_cancel2_normal.bmp" data-hover="btn_cancel2_over.bmp" data-down="btn_cancel2_press.bmp"></div>
		</div>
	</div>
</div>

