#Storage { position:absolute; top:100px; left:100px; font-size:12px; width:280px; border-radius: 3px; }
#Storage table { border-spacing:0px; display:inline-block; width:100%; }

#Storage .titlebar { width:100%; height:17px; background-color:white; background-repeat:repeat-x; border-radius:3px 3px 0px 0px; }
#Storage .titlebar .text { text-shadow:1px 1px white; vertical-align:-2px; white-space:nowrap;
 /* chrome bug */ display: inline-block; width: 32px; height:13px; margin-left:15px; }

#Storage .titlebar .left { margin-left:3px; float:left; }
#Storage .titlebar .clear { clear:both; }

#Storage .tabs { border-left:1px solid #ccc; width:50px; background-repeat:no-repeat; background-color:white; vertical-align:top; background-position: -1px 0px; }
#Storage .tabs button { width:20px; height:30px; border:none; background-color:transparent; display:block; }
#Storage .tabs .item { height:25px; }

#Storage .container { padding-left:16px; border-right:1px solid #ccc; background:white; width:100%; }
#Storage .content { overflow-y:scroll; overflow-x:hidden; width:100%; height:100%; min-height:240px; background-color:transparent; background-repeat:repeat-y;  background-attachment: local;}

#Storage .content .item { display:block; width:24px; height:28px; margin:4px 0px 0px 4px; position:relative; }
#Storage .content .item .icon { width:24px; height:24px; border:none; background-color:transparent; background-repeat:no-repeat; }
#Storage .overlay { position:absolute; display:none; white-space:nowrap; z-index:900; height:13px; padding:5px; background:rgba(0,0,0,0.7); color:white; text-shadow:1px 1px black;}
#Storage .overlay.grey { color:#aaa; }
#Storage .content .item .amount { position:relative; font-size:11px; bottom:9px; right:0px; text-align:right; text-shadow:-1px -1px white; }
#Storage .content .name { font-size:12px; position:absolute; top:7px; left:30px; width:190px; }

#Storage .footer { width:100%; height:55px; background-color:transparent; position:relative; border-right:1px solid #ccc; }
#Storage .footer .extend { position:absolute; right:0px; bottom:1px; width:13px; height:13px; border:none; background-repeat:no-repeat; background-color:transparent; }
#Storage .footer .close { position:absolute; border:none; width:42px; height:20px; bottom:2px; right:15px; background-repeat:no-repeat; background-color:transparent; }

#Storage .footer .divider-bar {
    left: 0;
    right: 0;
    height: 10px;
}

#Storage .footer .filter-buttons {
    padding-left: 5px;
    height: 28px;
}

#Storage .footer .filter-buttons button {
    width: 23px;
    height: 23px;
    border: 1px solid #cfcfcf;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0;
    border-radius: 2px;
    margin: 2px 1px 0px;
    cursor: pointer;
}

#Storage .footer .filter-buttons button:hover {
    background-color: #f5f5f5;
}

#Storage .footer .item_num_display {
    display: flex;
    align-items: center;
    padding-left: 3px;
}

#Storage .footer .item_num {
    display: inline-block;
    height: 14px;
    width: 11px;
    margin-right: 2px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}

#Storage .footer .current {
    margin-left: 2px;
}

#Storage .footer .current,
#Storage .footer .divider,
#Storage .footer .limit {
	font-size: 10px;
}

/* Search */
#Storage .footer .search-container {
    display: flex;
    align-items: center;
    padding-left: 18px;
}

#Storage .footer .search-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px;
    width: 130px;
    height: 14px;
}

#Storage .footer .search-button {
    width: 23px;
    height: 18px;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    margin-left: -23px;
    cursor: pointer;
}

#Storage .footer .storage-order-by {
    margin-left: 2px;
    width: 70px;
    vertical-align: super;
    font-size: 12px;
    border-radius: 3px;
}

/* add blue border to options */
#Storage .footer .storage-order-by option {
    border: 1px solid blue;
}

