#StorageFilter { position:absolute; top:150px; left:150px; font-size:12px; width:220px; z-index: 100; }
#StorageFilter .titlebar { width:100%; height:17px; background-color:white; background-repeat:repeat-x; border-radius:3px 3px 0px 0px; }
#StorageFilter .titlebar .text { text-shadow:1px 1px white; vertical-align:-2px; white-space:nowrap; display: inline-block; width: 32px; height:13px; margin-left:15px; }
#StorageFilter .titlebar .left { margin-left:3px; float:left; }
#StorageFilter .titlebar .right { margin-right:3px; float:right; }
#StorageFilter .titlebar .clear { clear:both; }
#StorageFilter .titlebar .base { width:11px; height:11px; border:none; background-color:transparent; background-repeat:no-repeat; vertical-align:middle;  }


#StorageFilter .panel {
	border: 1px solid #ccc;
	border-bottom: none;
	background: white;
	padding-left: 16px;
}

#StorageFilter .content {
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	min-height: 128px;
	background-color: transparent;
	background-repeat: repeat-y;
	background-attachment: local;
}

#StorageFilter .content .item { display:block; width:24px; height:28px; margin:4px 0px 0px 4px; position:relative; }
#StorageFilter .content .item .icon { width:24px; height:24px; border:none; background-color:transparent; background-repeat:no-repeat; }
#StorageFilter .overlay { position:absolute; display:none; white-space:nowrap; z-index:900; height:13px; padding:5px; background:rgba(0,0,0,0.7); color:white; text-shadow:1px 1px black;}
#StorageFilter .overlay.grey { color:#aaa; }
#StorageFilter .content .item .amount { position:relative; font-size:11px; bottom:9px; right:0px; text-align:right; text-shadow:-1px -1px white; }
#StorageFilter .content .name { font-size:12px; position:absolute; top:7px; left:30px; width:160px; }

#StorageFilter .footer {
	width: 100%;
	height: 19px;
	background-repeat: repeat-x;
	background-color: transparent;
	position: relative;
	border: 1px solid #ccc;
	border-top: none;
	box-sizing: border-box;
}

#StorageFilter .footer .extend {
	position: absolute;
	right: 0px;
	bottom: 1px;
	width: 13px;
	height: 13px;
	border: none;
	background-repeat: no-repeat;
	background-color: transparent;
	cursor: se-resize;
}