<div id="ItemReform">
	<div class="container" data-background="itemreform/bg_reform.bmp">
		<div class="titlebar">
			<div class="left">
				<button
					class="base"
					data-background="basic_interface/sys_base_off.bmp"
					data-hover="basic_interface/sys_base_on.bmp"
				></button>
				<span class="item_text"></span>
			</div>
			<div class="right">
				<button
					class="base close"
					data-background="basic_interface/sys_close_off.bmp"
					data-hover="basic_interface/sys_close_on.bmp"
				></button>
			</div>
			<div class="clear"></div>
		</div>
		<div class="overlay"></div>
		<div class="panel">
			<div class="left_panel">
				<div class="result_info_container">
					<div class="result_item"></div>
					<div class="base_item"></div>
					<div class="result_item_text"></div>
					<div class="information_details" data-text="3854"></div>
					<div class="material_list"></div>
				</div>
			</div>
			<div class="right_panel">
				<div class="available_material_list"></div>
			</div>
		</div>
		<div class="footer">
			<div class="some_notifs">
				<span class="info_msg"></span>
			</div>
			<div
				class="cancel"
				data-background="lapine/btn_cancel_out.bmp"
				data-hover="lapine/btn_cancel_over.bmp"
				data-down="lapine/btn_cancel_press.bmp"
			></div>
			<div
				class="reform_enabled"
				data-text="3847"
				data-background="tipbox/btn_close_normal.bmp"
				data-hover="tipbox/btn_close_over.bmp"
				data-down="tipbox/btn_close_press.bmp"
			></div>
			<div
				class="reform_disabled"
				data-text="3847"
				data-background="equip_preview/btn_mounting_disable.bmp"
			></div>
		</div>
	</div>
</div>
