#ItemReform { position:absolute; top:0px; left:0px; width:440px; height:261px; }
#ItemReform .container { position:absolute; top:0px; left:0px; height:100%; width:100%; background-repeat:no-repeat; background-color:transparent; border-radius: 10px; }
#ItemReform .titlebar { width:100%; height:17px; }
#ItemReform .titlebar .base { width:11px; height:11px; border:none; background-color:transparent; background-repeat:no-repeat; vertical-align:middle; }
#ItemReform .titlebar .text { text-shadow:1px 1px white; vertical-align:-2px; white-space:nowrap;
 /* chrome bug */ display: inline-block; width: 32px; height:13px; }

#ItemReform .titlebar .left { margin-left:3px; float:left; }
#ItemReform .titlebar .right { float:right; margin-right:3px;}
#ItemReform .titlebar .clear { clear:both; }

#ItemReform .overlay {
    position: absolute;
    display: none;
    white-space: nowrap;
    z-index: 900;
    height: 15px;
    line-height: 15px;
    border-radius: 3px;
    padding: 4px;
    background: rgba(0,0,0,0.7);
    color: white;
    text-shadow: 1px 1px black;
}

#ItemReform .panel {
    width: 100%;
    position: absolute;
    height: 215px;
    display: flex;
}

#ItemReform .left_panel {
    left: 0px;
    height: 215px;
    width: 100%;
}

#ItemReform .right_panel {
    width: 100%;
}

#ItemReform .available_material_list {
    flex-direction: column;
    overflow: auto;
    display: inline-flex;
    height: 215px;
    width: 218px;
    gap: 5px;
}

#ItemReform .available_material_list .item {
    width: 100%;
    background-repeat: no-repeat;
}

#ItemReform .item_container {
    display: flex;
    gap: 10px;
    height: 26px;
    padding-left: 13px;
    padding-top: 4px;
}

#ItemReform .icon {
    height: 24px;
    width: 24px;
    background: no-repeat;
}

#ItemReform .name {
    align-content: center;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ItemReform .result_info_container {
    height: 123px;
}

#ItemReform .result_item {
    position: absolute;
    height: 32px;
    width: 32px;
    left: 50px;
    top: 29px;
    display: flex;
    padding-left: 4px;
    padding-top: 4px;
}

#ItemReform .base_item {
    position: absolute;
    height: 32px;
    width: 32px;
    left: 140px;
    top: 29px;
    display: flex;
    padding-left: 4px;
    padding-top: 4px;
}

#ItemReform .result_item_text {
    height: 20px;
    width: 225px;
    position: absolute;
    top: 88px;
    left: 0px;
    text-align: center;
    font-weight: bold;
    text-wrap: nowrap;
    font-size: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ItemReform .information_details {
    height: 15px;
    position: absolute;
    width: 125px;
    top: 105px;
    left: 48px;
    text-align: center;
    text-decoration: underline;
}

#ItemReform .material_list {
    height: 85px;
    width: 220px;
    position: absolute;
    top: 120px;
    display: inline-flex;
    gap: 5px;
    flex-wrap: wrap;
}

#ItemReform .material_list .item {
    width: 100%;
    flex: 1 1 calc(33.333% - 10px);
    box-sizing: border-box;
    max-width: calc(33.333% - 10px);
    padding-left: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#ItemReform .material_list .item:nth-child(3n+1) {
    margin-left: 0; /* Ensure first item in each row aligns correctly */
}

#ItemReform .count {
    text-align: center;
    align-content: center;
    text-wrap: nowrap;
    position: relative;
    left: -5px;
}

#ItemReform .red {
    color: red;
}

#ItemReform .footer {
    position: absolute;
    height: 28px;
    width: 100%;
    bottom: 0px;
}

#ItemReform .some_notifs {
    position: absolute;
    height: 20px;
    width: 270px;
    left: 5px;
    top: 4px;
}

#ItemReform .notif {
    position: absolute;
    height: 13px;
    width: 14px;
    top: 4px;
}

#ItemReform .info_msg {
    position: absolute;
    height: 20px;
    width: 100%;
    left: 15px;
    font-size: 1.0em;
    align-content: center;
    color: red;
}

#ItemReform .cancel, #ItemReform .reform_enabled, #ItemReform .reform_disabled {
    height: 20px;
    width: 56px;
}

#ItemReform .cancel {
    position: absolute;
    bottom: 4px;
    right: 68px;
}

#ItemReform .reform_enabled, #ItemReform .reform_disabled {
    position: absolute;
    bottom: 4px;
    right: 5px;
    background-size: 56px 20px;
    background-repeat: no-repeat;
    text-align: center;
    align-content: center;
}

#ItemReform .reform_disabled {
    text-shadow: -1px -1px white;
    color: gray;
}
