<div id="changecart">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button class="base" data-background="basic_interface/sys_base_off.bmp" data-hover="basic_interface/sys_base_on.bmp"></button>
			<span class="text" data-text="659">ChangeCart</span>
		</div>
		<div class="right">
			<button class="base mini" data-background="basic_interface/sys_mini_off.bmp" data-hover="basic_interface/sys_mini_on.bmp"></button>
			<button class="base close" data-background="basic_interface/sys_close_off.bmp" data-hover="basic_interface/sys_close_on.bmp"></button>
		</div>
		<div class="clear"></div>
	</div>
		<table>
			<tr>
				<td align="right">
					<button class="cart" data-background="basic_interface/cart.gif"></button>
				</td>
				<td align="right">
					<button class="cart1" data-background="basic_interface/cart1.gif"></button>
				</td>
				<td align="center">
					<button class="cart2" data-background="basic_interface/cart2.gif"></button>
				</td>
				<td align="left">
					<button class="cart3" data-background="basic_interface/cart3.gif"></button>
				</td>
				<td align="left">
					<button class="cart4" data-background="basic_interface/cart4.gif"></button>
				</td>
			</tr>
			<tr>
				<td align="left">
					<button class="cart5" data-background="basic_interface/cart5.gif"></button>
				</td>
				<td align="left">
					<button class="cart6" data-background="basic_interface/cart6.gif"></button>
				</td>
				<td align="left">
					<button class="cart7" data-background="basic_interface/cart7.gif"></button>
				</td>
				<td align="left">
					<button class="cart8" data-background="basic_interface/cart8.gif"></button>
				</td>
			</tr>
		</table>
</div>
