<div id="changecart">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button class="base" data-background="basic_interface/sys_base_off.bmp" data-hover="basic_interface/sys_base_on.bmp"></button>
			<span class="text" data-text="659">ChangeCart</span>
		</div>
		<div class="right">
			<button class="base mini" data-background="basic_interface/sys_mini_off.bmp" data-hover="basic_interface/sys_mini_on.bmp"></button>
			<button class="base close" data-background="basic_interface/sys_close_off.bmp" data-hover="basic_interface/sys_close_on.bmp"></button>
		</div>
		<div class="clear"></div>
	</div>
		<table>
			<tr>
				<td width="80px" align="right">
					<button class="cart" data-background="basic_interface/cart.bmp"></button>				
				</td>
				<td width="80px" align="right">
					<button class="cart1" data-background="basic_interface/cart1.bmp"></button>
				</td>
				<td width="80px" align="center">
					<button class="cart2" data-background="basic_interface/cart2.bmp"></button>
				</td>
				<td width="80px" align="left">
					<button class="cart3" data-background="basic_interface/cart3.bmp"></button>
				</td>
				<td width="80px" align="left">
					<button class="cart4" data-background="basic_interface/cart4.bmp"></button>
				</td>
			</tr>
		</table>
</div>
