#SkillListV0 { position:absolute; top:100px; left:100px; border-radius:5px; background:white; line-height:18px; letter-spacing:0px; border:1px solid #c1c6c2; }
#SkillListV0 .border { border:1px solid #c1c6c2; margin:1px; border-radius:5px; }

#SkillListV0 .titlebar { height:18px; background-color:white; background-repeat:repeat-x; background-position: 0 -1px; border-radius:3px 3px 0px 0px; }
#SkillListV0 .titlebar .base { width:11px; height:11px; border:none; background-color:transparent; background-repeat:no-repeat; vertical-align:middle; }
#SkillListV0 .titlebar .text { text-shadow:1px 1px white; vertical-align:-2px; white-space:nowrap;
	/* chrome bug */ display: inline-block; width: 60px; height:13px; }

#SkillListV0 .titlebar .left { margin-left:3px; float:left; height: 18px; }
#SkillListV0 .titlebar .right { float:right; margin-right:3px;}
#SkillListV0 .titlebar .clear { clear:both; }

#SkillListV0 .content { overflow-y:auto; padding:5px; border-top:1px solid #c6c6c6; width:265px; height:200px; }
#SkillListV0 .content table { border:none; border-spacing:0px; padding-top:5px; }
#SkillListV0 .content td, #SkillListV0 .content .name { padding:0px; }

#SkillListV0 .levelup { border:0; width:24px; height:24px; padding:0; background-repeat:no-repeat; background-color:transparent; }
#SkillListV0 td.type { vertical-align:bottom; }

#SkillListV0 .content .icon { padding-left: 15px; }
#SkillListV0 .content .levelupcontainer { padding-left:5px; padding-right:5px; width:24px; }
#SkillListV0 .content div.name { line-height: 12px; white-space:nowrap; padding-left:5px; white-space:nowrap; width:120px; padding-top:4px; height:28px; }
#SkillListV0 .disabled .icon, #SkillListV0 .disabled .name { opacity:0.5; }
#SkillListV0 .disabled .consume, #SkillListV0 .disabled .level { display:none; }
#SkillListV0 .currentDown, #SkillListV0 .currentUp { width: 11px; height: 11px; border:none; background-color:transparent; background-repeat:no-repeat;  vertical-align:middle;}

#SkillListV0 .selected.disabled .selectable { background-color:#b5b5b5;}
#SkillListV0 .selected.passive .selectable { background-color:#73d5ee;}
/*#SkillListV0 .selected.active .selectable { background-color:#739cee;}*/

#SkillListV0 .footer { width:100%; height:27px; background-repeat:repeat-x; background-color:transparent; position:relative; }
#SkillListV0 .footer .text { padding-top:7px; margin-left:10px; }
#SkillListV0 .footer .btn { position: absolute; top:5px; border:0; width:42px; height:20px; background-repeat:no-repeat; background-color:transparent; display:none; }
#SkillListV0 .footer .apply { right:70px; }
#SkillListV0 .footer .reset { right:20px; }
#SkillListV0 .footer .extend { position:absolute; right:0px; bottom:1px; width:13px; height:13px; border:none; background-repeat:no-repeat; background-color:transparent; }

#lvlup_job { z-index:51; position:absolute; right:0px; bottom:0px; width:43px; height:43px; border:none; background-color:transparent; background-repeat:no-repeat; }

/* hidden 3 jobs */
#SkillListV0 label[for="tab-3"] { display: none; }

#SkillListV0 .tab-content { overflow-y:auto; padding:5px; border-top:1px solid #c6c6c6; width:calc(100% - 12px); height:370px; }

/* skill tree with tabs */
#SkillListV0 .skillCol .name, .skillCol .selectable { position: relative; text-align: center; display: block;
	width: 70px;
	left: -23px }
#SkillListV0 .skillCol .skill { position: relative; top: -16px; }
#SkillListV0 .skillRow { display: flex; padding-left: 40px; }
#SkillListV0 .skillCol {
	position: relative;
	margin: 15px 17px;
	border: 1px dashed #C0C0C0FF;
	border-radius: 5px;
	width: 28px;
	height: 28px;
	text-align: center;
	white-space: nowrap; }
#SkillListV0 .tabs {position: relative;}
#SkillListV0 .tabs::before, .tabs::after { content: ""; display: table; }
#SkillListV0 .tabs::after { clear: both; }
#SkillListV0 .tab-switch { display: none; }
#SkillListV0 .tab-label { writing-mode: vertical-lr; text-orientation: upright; left: -23px; width: 18px; position: relative; margin: -3px 0; border: 1px solid #c1c6c2; background: #fff; border-radius: 5px 0 0 5px; cursor: pointer; }
#SkillListV0 .tab-content { position: absolute; z-index: 1; left: 0; top: 0; opacity: 0; }
#SkillListV0 .tab-switch:checked + .tab-label { width: 20px; left: -25px; z-index: 1; }
#SkillListV0 .tab-switch:checked + label + .tab-content { z-index: 2; opacity: 1; }
#SkillListV0 .needleSkill {background: pink !important; }
#SkillListV0 .upgradable {background: #c0cdff; }
#SkillListV0 .counterSkill {
	position: absolute;
	left: 28px;
	top: 18px;
	color: #fff;
	-webkit-text-stroke: 0.6px #2f2f2f;
	font-weight: 1000;
}
