<div id="SkillListV0">
	<div class="border">
		<div class="titlebar" data-background="basic_interface/btnbar_mid2.bmp">
			<div class="left">
				<button
					class="base"
					data-background="basic_interface/sys_base_off.bmp"
					data-hover="basic_interface/sys_base_on.bmp"
				></button>
				<span class="text" data-text="283">Skill Tree</span>
			</div>
			<div class="right">
				<input type="checkbox" class="view_skill_info" />view skill info
				<button
					class="base mini"
					data-background="basic_interface/sys_mini_off.bmp"
					data-hover="basic_interface/sys_mini_on.bmp"
				></button>
				<button
					class="base close"
					data-background="basic_interface/sys_close_off.bmp"
					data-hover="basic_interface/sys_close_on.bmp"
				></button>
			</div>
			<div class="clear"></div>
		</div>

		<div class="panel">
			<div class="content" style="display: none; width: 256px; height: 320px">
				<table>
					<!-- Just to get reference, will be removed -->
					<button
						class="btn levelup"
						data-background="basic_interface/skill_up_a.bmp"
						data-hover="basic_interface/skill_up_b.bmp"
						data-down="basic_interface/skill_up_c.bmp"
					></button>
				</table>
			</div>
			<div class="contentbig" style="width: 480px; height: 384px; display: block">
				<div class="tabs">
					<div class="tab">
						<input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch" />
						<label for="tab-1" class="tab-label">One</label>
						<div class="tab-content">
							<div id="positionSkills1">
								<div class="skillRow">
									<div class="skillCol s0"></div>
									<div class="skillCol s1"></div>
									<div class="skillCol s2"></div>
									<div class="skillCol s3"></div>
									<div class="skillCol s4"></div>
									<div class="skillCol s5"></div>
									<div class="skillCol s6"></div>
								</div>
								<div class="skillRow">
									<div class="skillCol s7"></div>
									<div class="skillCol s8"></div>
									<div class="skillCol s9"></div>
									<div class="skillCol s10"></div>
									<div class="skillCol s11"></div>
									<div class="skillCol s12"></div>
									<div class="skillCol s13"></div>
								</div>
								<div class="skillRow">
									<div class="skillCol s14"></div>
									<div class="skillCol s15"></div>
									<div class="skillCol s16"></div>
									<div class="skillCol s17"></div>
									<div class="skillCol s18"></div>
									<div class="skillCol s19"></div>
									<div class="skillCol s20"></div>
								</div>
								<div class="skillRow">
									<div class="skillCol s21"></div>
									<div class="skillCol s22"></div>
									<div class="skillCol s23"></div>
									<div class="skillCol s24"></div>
									<div class="skillCol s25"></div>
									<div class="skillCol s26"></div>
									<div class="skillCol s27"></div>
								</div>
								<div class="skillRow">
									<div class="skillCol s28"></div>
									<div class="skillCol s29"></div>
									<div class="skillCol s30"></div>
									<div class="skillCol s31"></div>
									<div class="skillCol s32"></div>
									<div class="skillCol s33"></div>
									<div class="skillCol s34"></div>
								</div>
								<div class="skillRow">
									<div class="skillCol s35"></div>
									<div class="skillCol s36"></div>
									<div class="skillCol s37"></div>
									<div class="skillCol s38"></div>
									<div class="skillCol s39"></div>
									<div class="skillCol s40"></div>
									<div class="skillCol s41"></div>
								</div>
								<div class="skillRow" style="display: none">
									<div class="skillCol s42"></div>
									<div class="skillCol s43"></div>
									<div class="skillCol s44"></div>
									<div class="skillCol s45"></div>
									<div class="skillCol s46"></div>
									<div class="skillCol s47"></div>
									<div class="skillCol s48"></div>
								</div>
								<div class="skillRow" style="display: none">
									<div class="skillCol s49"></div>
									<div class="skillCol s50"></div>
									<div class="skillCol s51"></div>
									<div class="skillCol s52"></div>
									<div class="skillCol s53"></div>
									<div class="skillCol s54"></div>
									<div class="skillCol s55"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab">
						<input type="radio" name="css-tabs" id="tab-2" class="tab-switch" />
						<label for="tab-2" class="tab-label">Two</label>
						<div class="tab-content">
							<div id="positionSkills2">
								<div class="skillRow">
									<div class="skillCol s0"></div>
									<div class="skillCol s1"></div>
									<div class="skillCol s2"></div>
									<div class="skillCol s3"></div>
									<div class="skillCol s4"></div>
									<div class="skillCol s5"></div>
									<div class="skillCol s6"></div>
								</div>
								<div class="skillRow">
									<div class="skillCol s7"></div>
									<div class="skillCol s8"></div>
									<div class="skillCol s9"></div>
									<div class="skillCol s10"></div>
									<div class="skillCol s11"></div>
									<div class="skillCol s12"></div>
									<div class="skillCol s13"></div>
								</div>
								<div class="skillRow">
									<div class="skillCol s14"></div>
									<div class="skillCol s15"></div>
									<div class="skillCol s16"></div>
									<div class="skillCol s17"></div>
									<div class="skillCol s18"></div>
									<div class="skillCol s19"></div>
									<div class="skillCol s20"></div>
								</div>
								<div class="skillRow">
									<div class="skillCol s21"></div>
									<div class="skillCol s22"></div>
									<div class="skillCol s23"></div>
									<div class="skillCol s24"></div>
									<div class="skillCol s25"></div>
									<div class="skillCol s26"></div>
									<div class="skillCol s27"></div>
								</div>
								<div class="skillRow">
									<div class="skillCol s28"></div>
									<div class="skillCol s29"></div>
									<div class="skillCol s30"></div>
									<div class="skillCol s31"></div>
									<div class="skillCol s32"></div>
									<div class="skillCol s33"></div>
									<div class="skillCol s34"></div>
								</div>
								<div class="skillRow">
									<div class="skillCol s35"></div>
									<div class="skillCol s36"></div>
									<div class="skillCol s37"></div>
									<div class="skillCol s38"></div>
									<div class="skillCol s39"></div>
									<div class="skillCol s40"></div>
									<div class="skillCol s41"></div>
								</div>
								<div class="skillRow" style="display: none">
									<div class="skillCol s42"></div>
									<div class="skillCol s43"></div>
									<div class="skillCol s44"></div>
									<div class="skillCol s45"></div>
									<div class="skillCol s46"></div>
									<div class="skillCol s47"></div>
									<div class="skillCol s48"></div>
								</div>
								<div class="skillRow" style="display: none">
									<div class="skillCol s49"></div>
									<div class="skillCol s50"></div>
									<div class="skillCol s51"></div>
									<div class="skillCol s52"></div>
									<div class="skillCol s53"></div>
									<div class="skillCol s54"></div>
									<div class="skillCol s55"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab">
						<input type="radio" name="css-tabs" id="tab-3" class="tab-switch" />
						<label for="tab-3" class="tab-label">Three</label>
						<div class="tab-content">
							<div id="positionSkills3">
								<div class="skillRow">
									<div class="skillCol s0"></div>
									<div class="skillCol s1"></div>
									<div class="skillCol s2"></div>
									<div class="skillCol s3"></div>
									<div class="skillCol s4"></div>
									<div class="skillCol s5"></div>
									<div class="skillCol s6"></div>
								</div>
								<div class="skillRow">
									<div class="skillCol s7"></div>
									<div class="skillCol s8"></div>
									<div class="skillCol s9"></div>
									<div class="skillCol s10"></div>
									<div class="skillCol s11"></div>
									<div class="skillCol s12"></div>
									<div class="skillCol s13"></div>
								</div>
								<div class="skillRow">
									<div class="skillCol s14"></div>
									<div class="skillCol s15"></div>
									<div class="skillCol s16"></div>
									<div class="skillCol s17"></div>
									<div class="skillCol s18"></div>
									<div class="skillCol s19"></div>
									<div class="skillCol s20"></div>
								</div>
								<div class="skillRow">
									<div class="skillCol s21"></div>
									<div class="skillCol s22"></div>
									<div class="skillCol s23"></div>
									<div class="skillCol s24"></div>
									<div class="skillCol s25"></div>
									<div class="skillCol s26"></div>
									<div class="skillCol s27"></div>
								</div>
								<div class="skillRow">
									<div class="skillCol s28"></div>
									<div class="skillCol s29"></div>
									<div class="skillCol s30"></div>
									<div class="skillCol s31"></div>
									<div class="skillCol s32"></div>
									<div class="skillCol s33"></div>
									<div class="skillCol s34"></div>
								</div>
								<div class="skillRow">
									<div class="skillCol s35"></div>
									<div class="skillCol s36"></div>
									<div class="skillCol s37"></div>
									<div class="skillCol s38"></div>
									<div class="skillCol s39"></div>
									<div class="skillCol s40"></div>
									<div class="skillCol s41"></div>
								</div>
								<div class="skillRow" style="display: none">
									<div class="skillCol s42"></div>
									<div class="skillCol s43"></div>
									<div class="skillCol s44"></div>
									<div class="skillCol s45"></div>
									<div class="skillCol s46"></div>
									<div class="skillCol s47"></div>
									<div class="skillCol s48"></div>
								</div>
								<div class="skillRow" style="display: none">
									<div class="skillCol s49"></div>
									<div class="skillCol s50"></div>
									<div class="skillCol s51"></div>
									<div class="skillCol s52"></div>
									<div class="skillCol s53"></div>
									<div class="skillCol s54"></div>
									<div class="skillCol s55"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="footer" data-background="basic_interface/btnbar_mid2.bmp">
				<div class="text">Skill Points: <span class="skpoints_count">0</span></div>
				<button
					class="btn apply"
					data-background="btn_apply.bmp"
					data-hover="btn_apply_a.bmp"
					data-down="btn_apply_b.bmp"
				></button>
				<button
					class="btn reset"
					data-background="btn_reset.bmp"
					data-hover="btn_reset_a.bmp"
					data-down="btn_reset_b.bmp"
				></button>
				<button class="extend" data-background="btn_resize.bmp"></button>
			</div>
		</div>
	</div>

	<button
		id="lvlup_job"
		data-background="basic_interface/lv_up_off.bmp"
		data-down="basic_interface/lv_up_on.bmp"
	></button>
</div>
