#WinLoginV2 { position:absolute; width:301px; height:132px; z-index:1; top: 60%; left: 50%; margin: 0 0 0 -140px; }
#WinLoginV2 .win_login { width: 100%; height: 100%; }
#WinLoginV2 .win_login input { position:absolute; left:17px; height:18px; width:127px; border:none; background-color:transparent; padding-left:2px; outline:none; text-align: center;}
#WinLoginV2 .win_login input.user { top:39px; }
#WinLoginV2 .win_login input.pass { top:61px; }
#WinLoginV2 .win_login .save { position:absolute; top:85px; left:57px; display:block; width:38px; height:10px; border:none; background-color:transparent; background-repeat:no-repeat; }
#WinLoginV2 .win_login .btn { position:absolute; border:0; background-color:transparent; }
#WinLoginV2 .win_login .btn.connect { width:84px; height:84px; right:25px; bottom: 15px; }
#WinLoginV2 .win_login .btn.signup { width:84px; height:21px; right:130px; bottom: 15px;}
#WinLoginV2 .win_login .btn.exit { width:24px; height:23px; right:7px; bottom: 96px; }
