#login_background {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
}
#login_background .login_background_image {
	float: left;
	width: 25%;
	height: 33.3%;
	background-size: 100% 100%;
}
