<div id="MiniMapV2" class="MiniMapUI">
	<canvas width="128" height="128"></canvas>
	<div class="info_container">
		<button class="object" type="button" data-background="minimap/i_object_1.bmp" data-hover="minimap/i_object_2.bmp" data-down="minimap/i_object_3.bmp"></button>
		<div class="coordinates">
			<span class="coord x">0</span>
			<span class="coord y">0</span>
		</div>
		<button class="plus" type="button" data-background="minimap/i_plus_1.bmp" data-hover="minimap/i_plus_2.bmp" data-down="minimap/i_plus_3.bmp"></button>
		<button class="minus" type="button" data-background="minimap/i_minus_1.bmp" data-hover="minimap/i_minus_2.bmp" data-down="minimap/i_minus_3.bmp"></button>
		<button class="mini" type="button" data-background="minimap/i_mini_1.bmp" data-hover="minimap/i_mini_2.bmp" data-down="minimap/i_mini_3.bmp"></button>
		<button class="viewon" type="button" data-background="minimap/i_viewon_1.bmp" data-hover="minimap/i_viewon_2.bmp" data-down="minimap/i_viewon_3.bmp"></button>
	</div>
</div>