#MiniMapV2 { position:absolute; top:2px; right:2px; }
#MiniMapV2 .info_container .object { position:absolute; width:12px; height:12px; border:none; background:transparent; }
#MiniMapV2 .info_container .plus { position:absolute;  left:60px; width:12px; height:12px; border:none; background:transparent; }
#MiniMapV2 .info_container .minus { position:absolute; left:74px; width:12px; height:12px; border:none; background:transparent; }
#MiniMapV2 .info_container .mini { position:absolute; left:88px; width:12px; height:12px; border:none; background:transparent; }
#MiniMapV2 .info_container .viewon { position:absolute; left:102px; width:12px; height:12px; border:none; background:transparent; }
#MiniMapV2 .info_container .coordinates{ position: absolute; color: #fff; text-shadow: 1px 1px 1px #000; left: 14px; }