<div id="WorldMap">
	<div class="border">

		<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
			<div class="left">
				<select name="mapList" id="WorldMaps">
					<option value="worldmap.bmp">Midgard</option>
					<option value="worldmap_dimension.bmp">New World</option>
					<option value="worldmap_localizing1.bmp">Eastern Kingdoms</option>
					<option value="worldmap_localizing2.bmp">Farlands</option>
				</select>

			</div>
			<div class="right">
				<button class="base close" data-background="basic_interface/sys_close_off.bmp" data-hover="basic_interface/sys_close_on.bmp"></button>
			</div>
		</div>

		<div class="map">
			<div class="content" ></div>
		</div>
	</div>

</div>
