#charcreate_v3 {
	position: absolute;
	width: 576px;
	height: 358px;
}

#charcreate_v3 .radio {
	display: none;
}

#charcreate_v3 .title {
	position: absolute;
	left: 45px;
	top: 15px;
	height: 20px;
	width: 200px;
}

/** Race **/
#charcreate_v3 .race_select .label {
	position: absolute;
	width: 358px;
	height: 138px;
	outline: none;
	background-repeat: no-repeat;
}
#charcreate_v3 .race_select .title {
	position: absolute;
	color: white;
	top: 14px;
	left: 34px;
	height: 20px;
	width: 45px;
}
#charcreate_v3 .race_select .desc {
	position: absolute;
	top: 22px;
	left: 90px;
	height: 60px;
	width: 248px;
	font-size: 14px;
	line-height: 20px;
}
#charcreate_v3 .race_select .jobs {
	position: absolute;
	top: 102px;
	left: 120px;
	height: 26px;
	width: 226px;
}
#charcreate_v3 .race_select .chargen canvas {
	position: absolute;
	top: 16px;
	left: 16px;
}

#charcreate_v3 .race_select .human .label {
	top: 32px;
	left: 20px;
}
#charcreate_v3 .race_select .doram .label {
	top: 177px;
	left: 20px;
}

/* Style */
#charcreate_v3 #style {
	position: relative;
	left: 395px;
	top: 30px;
	width: 200px;
	height: 270px;
}
#charcreate_v3 #style .button {
	position: absolute;
	height: 20px;
	width: 38px;
}

/** Style Model **/
#charcreate_v3 #style .model {
	position: absolute;
	top: 15px;
	left: 30px;
	width: 100px;
}
#charcreate_v3 #style .model canvas {
	position: relative;
	top: -5px;
	left: 17px;
}

/** Char Name **/
#charcreate_v3 #char_name {
	position: absolute;
	height: 16px;
	width: 110px;
	top: 134px;
	left: 43px;
	border: 0px;
	background-color: transparent;
}

/** Buttons **/
#charcreate_v3 #style .rot_left {
	position: absolute;
	top: 70px;
	left: 30px;
	height: 20px;
	width: 20px;
	border-width: 0px;
}
#charcreate_v3 #style .rot_right {
	position: absolute;
	top: 70px;
	left: 110px;
	height: 20px;
	width: 20px;
	border-width: 0px;
}

#charcreate_v3 #style .category {
	position: absolute;
	left: 80px;
	height: 20px;
	width: 78px;
}
#charcreate_v3 #style .category .button {
	position: absolute;
	top: 0px;
	height: 20px;
	width: 38px;
	white-space: nowrap;
	border: 0;
}
#charcreate_v3 #style .category .button.left {
	left: 0px;
}
#charcreate_v3 #style .category .button.right {
	left: 40px;
}

#charcreate_v3 #style .gender {
	top: 164px;
}
#charcreate_v3 #style .gender .container .gender_button {
	display: none;
}
#charcreate_v3 #style .hairstyle {
	top: 186px;
}
#charcreate_v3 #style .haircolor {
	top: 208px;
}

#charcreate_v3 .button.make {
	position: absolute;
	top: 280px;
	left: 445px;
	width: 68px;
	height: 20px;
	background-repeat: no-repeat;
	background-color: transparent;
	border: 0;
}
#charcreate_v3 .button.close {
	position: absolute;
	top: 3px;
	right: 3px;
	width: 11px;
	height: 11px;
	background-repeat: no-repeat;
	background-color: transparent;
	border: 0;
}
