#ShortCutOption {position:absolute;width:430px;height:465px;font-size:11px;background:white;border-radius: 3px;border: solid 1px #aaa;border-top: none;}
#ShortCutOption .border{}
#ShortCutOption .titlebar {width:100%;height:17px;border-bottom: solid 1px #eee;}
#ShortCutOption .titlebar .base {width:20px;height:100%;border:none;background-color:transparent;background-repeat:no-repeat;vertical-align:middle;background-position: 8px 2px;}
#ShortCutOption .titlebar .base.close{color: #ccc;}
#ShortCutOption .titlebar .text {white-space:nowrap;display: inline-block;line-height:17px;margin-left:5px;}
#ShortCutOption .titlebar .left {float:left;}
#ShortCutOption .titlebar .right {float:right;margin-right:3px;height:100%}
#ShortCutOption .titlebar .clear {clear:both;}
#ShortCutOption .tabs {position:relative;top:1px;border-right:solid 1px #ccc;}
#ShortCutOption .ShortCut .tabs button:nth-child(1) {border-bottom:solid 1px transparent;}
#ShortCutOption .ui .tabs button:nth-child(2) {border-bottom:solid 1px transparent;}
#ShortCutOption .tabs button {width:57px;height:18px;font-size:11px;padding:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;background-color:#fff;border: solid 1px #bbb;border-top-right-radius:3px;border-top-left-radius:3px;}
#ShortCutOption .tabs button:nth-child(1){border-right:none;}
#ShortCutOption .panel {padding:5px;border-top:solid 1px #ccc;}
#ShortCutOption .panel .content {display:none;}
#ShortCutOption .ShortCut .content:nth-child(1) {display:block;}
#ShortCutOption .ui .content:nth-child(2) {display:block;}
#ShortCutOption .content table{width:100%;border-collapse:collapse;color:#222;}
#ShortCutOption .content table tr{height:22px;}
#ShortCutOption .content table td{text-align:center;}
#ShortCutOption .content table td:nth-child(1),#ShortCutOption .content table td:nth-child(3){width:30%;}
#ShortCutOption .content table td:nth-child(2),#ShortCutOption .content table td:nth-child(4){width:20%;background-color:#eee;}
#ShortCutOption .content table td.customize{background-color:#ffffe0;}
#ShortCutOption .content table td.changed{background-color:#ffe4e1;}
#ShortCutOption .content table td.selected{background-color:#ffb6c1;}
#ShortCutOption .resolution{display:none;}
#ShortCutOption .panel .button {position:absolute;bottom:3px;width:42px;height:20px;margin-top:3px;border:none;background-color:transparent;background-repeat:no-repeat;}
#ShortCutOption .panel .button.reset {left:3px;}
#ShortCutOption .panel .button.ok {right:93px;}
#ShortCutOption .panel .button.cancel {right:48px;}
#ShortCutOption .panel .button.close {right:3px;}