#InventoryV2 {
	position: absolute;
	top: 100px;
	left: 100px;
}
#InventoryV2 table {
	border-spacing: 0px;
	display: inline-block;
}

#InventoryV2 .titlebar {
	width: 100%;
	height: 17px;
	background-color: white;
	background-repeat: repeat-x;
	border-radius: 3px 3px 0px 0px;
}
#InventoryV2 .titlebar .base {
	width: 11px;
	height: 11px;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	vertical-align: middle;
}
#InventoryV2 .titlebar .text {
	text-shadow: 1px 1px white;
	vertical-align: -2px;
	white-space: nowrap;
	/* chrome bug */
	display: inline-block;
	width: 32px;
	height: 13px;
}

#InventoryV2 .titlebar .left {
	margin-left: 3px;
	float: left;
}
#InventoryV2 .titlebar .right {
	float: right;
	margin-right: 3px;
}
#InventoryV2 .titlebar .clear {
	clear: both;
}

#InventoryV2 table tr.upper {
	height: 220px;
	border: none;
	background-repeat: repeat;
	background-size: auto 4px;
}
#InventoryV2 table tr.lower {
	border: none;
	background-repeat: repeat;
	background-size: auto 4px;
}

#InventoryV2 .tabs {
	border-left: 1px solid #ccc;
	width: 50px;
	background-repeat: no-repeat;
	vertical-align: top;
	background-position: -1px 0px;
}

#InventoryV2 .tabs button {
	width: 20px;
	height: 55px;
	border: 1px solid #ccc;
	background-color: white;
	display: block;
	text-align: center;
	position: relative;
	left: 5px;
	border-radius: 5px 0 0 5px;
	cursor: pointer;
	transition: all 0.3s;
	border-right: none;
	align-items: center;
	justify-content: center;
}

#InventoryV2 .tab:last-child {
	background-color: #cedeff;
}

#InventoryV2 .tab.selected {
	z-index: 25;
	-webkit-transform-origin-x: left;
	transform: scale(1.1, 1) translateX(-2px);
}

#InventoryV2 .tabs .tab {
	writing-mode: vertical-lr;
	text-orientation: upright;
}

#InventoryV2 .container {
	padding-left: 14px;
	border-right: 1px solid #ccc;
	background-clip: padding-box;
	box-shadow: inset 40px 0px 0px 2px #ffffff;
	position: relative;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: white;
	overflow: hidden;
	white-space: nowrap;
}

#InventoryV2 .ff_bugfix {
	position: relative;
	width: 100%;
	height: 192px;
	top: -13px;
}

#InventoryV2 .hide {
	height: 100%;
	width: 16px;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: white;
}
#InventoryV2 .content {
	overflow: auto;
	width: 100%;
	height: 100%;
	min-height: 65px;
	background-color: transparent;
	background-repeat: repeat;
	background-attachment: local;
}

#InventoryV2 .content .item {
	display: block;
	width: 24px;
	height: 24px;
	margin: 4px 4px 4px 4px;
	position: relative;
	float: left;
}
#InventoryV2 .content .item .icon {
	position: absolute;
	top: 0px;
	width: 24px;
	height: 24px;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	z-index: 2;
}
#InventoryV2 .overlay {
	position: absolute;
	display: none;
	white-space: nowrap;
	z-index: 900;
	height: 15px;
	line-height: 15px;
	border-radius: 3px;
	padding: 4px;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	text-shadow: 1px 1px black;
}
#InventoryV2 .overlay.grey {
	color: #aaa;
}
#InventoryV2 .content .item .amount {
	position: absolute;
	top: 15px;
	bottom: 9px;
	right: 0px;
	text-align: right;
	text-shadow: -1px -1px white;
}

#InventoryV2 .footer {
	width: 100%;
	height: 17px;
	background-repeat: repeat-x;
	background-color: transparent;
	position: relative;
}
#InventoryV2 .footer .cnt {
	position: absolute;
	left: 10px;
	bottom: 6px;
}
#InventoryV2 .footer button {
	border: none;
	background-repeat: no-repeat;
	background-color: transparent;
}
#InventoryV2 .footer .extend {
	position: absolute;
	right: 0px;
	bottom: 1px;
	width: 13px;
	height: 13px;
	border: none;
	background-repeat: no-repeat;
	background-color: transparent;
}

#InventoryV2 .content .item .switch1 {
	position: absolute;
	width: 24px;
	height: 24px;
	background-color: transparent;
	background-repeat: no-repeat;
	pointer-events: none;
	z-index: 3;
	opacity: 0.1;
}

#InventoryV2 .content .item .switch2 {
	position: absolute;
	width: 13px;
	height: 16px;
	background-color: transparent;
	background-repeat: no-repeat;
	pointer-events: none;
	z-index: 3;
}

#InventoryV2 .content .item .new_item {
	position: absolute;
	width: 32px;
	height: 32px;
	background-color: transparent;
	background-repeat: no-repeat;
	pointer-events: none;
	top: -5px;
	left: -5px;
}

#InventoryV2 .expand {
	position: absolute;
	height: 14px;
	width: 60px;
	left: 30px;
	top: 7px;
}

#InventoryV2 span.ncnt {
	left: 12px;
	position: relative;
}

#InventoryV2 span.mcnt {
	position: relative;
	left: 10px;
}

#InventoryV2 .expand,
#InventoryV2 .droplock,
#InventoryV2 .compare,
#InventoryV2 .deallock_on,
#InventoryV2 .deallock_off,
#InventoryV2 .sort {
	position: absolute;
}

#InventoryV2 .expand {
	left: 30px;
	width: 60px;
	top: 3px;
}

#InventoryV2 .droplock {
	left: 90px;
	top: 4px;
}

#InventoryV2 .compare {
	left: 110px;
	top: 3px;
}

#InventoryV2 .deallock_on,
#InventoryV2 .deallock_off {
	left: 130px;
	top: 1px;
}

#InventoryV2 .sort {
	left: 163px;
	top: 1px;
}

#InventoryV2 .item_drop_lock {
	height: 14px;
	width: 14px;
}

#InventoryV2 .item_compare {
	height: 12px;
	width: 12px;
}

#InventoryV2 .hidden {
	display: none;
}

#InventoryV2 button.item_deal_lock_on,
#InventoryV2 button.item_deal_lock_off {
	height: 17px;
	width: 26px;
}

#InventoryV2 .item_sort {
	height: 17px;
	width: 25px;
}

#InventoryV2 span.name {
	display: none; /* Hide the span by default */
	position: absolute;
	z-index: 1;
	top: -20px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.6);
	text-shadow: 1px 1px black;
	color: white;
	padding: 5px;
	white-space: nowrap;
	font-size: 0.6rem;
}

#InventoryV2 .footer div button:hover + .name {
	display: table;
}

#InventoryV2 .lockoverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none; /* Optional: allow clicks to pass through the overlay */
	z-index: 1; /* Ensure it is on top */
	background-color: #dee7ff;
	overflow: hidden;
	opacity: 0.3;
}

#InventoryV2 .lockoverlaymsg {
	position: absolute;
	height: 26px;
	width: 100%; /* Adjust width as needed */
	max-width: 242px; /* Limit maximum width */
	z-index: 1;
	color: white;
	top: 192px;
	left: 20px;
	overflow: hidden;
	white-space: nowrap;
}

#InventoryV2 .msg {
	position: absolute;
	height: 10px;
	width: 100px;
	left: 60px;
	top: 2px;
}

#InventoryV2 .lockoverlayclose {
	position: absolute;
	height: 7px;
	width: 7px;
	left: 230px;
	cursor: pointer;
	top: 3px;
}
