<div id="EquipAbility">
	<div class="ea-main-bg" data-background="equipmentpropertieswnd/bg.bmp"></div>

	<div class="ea-titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="ea-title-left" data-background="basic_interface/titlebar_left.bmp"></div>
		<div class="ea-title-mid" data-background="basic_interface/titlebar_mid.bmp">
			<button class="ea-base-icon"></button>
			<span class="ea-title-text">장비능력치</span>
		</div>
		<div class="ea-title-right" data-background="basic_interface/titlebar_right.bmp"></div>
		<button class="ea-close"></button>
	</div>

	<div class="ea-body">
		<div class="ea-tab-space">
			<div class="ea-tabs">
				<button class="ea-tab" data-tab="total"></button>
				<button class="ea-tab" data-tab="category1"></button>
				<button class="ea-tab" data-tab="category2"></button>
				<button class="ea-tab" data-tab="category3"></button>
				<button class="ea-tab" data-tab="category4"></button>
				<button class="ea-tab" data-tab="category5"></button>
				<button class="ea-tab" data-tab="category6"></button>
				<button class="ea-tab" data-tab="category7"></button>
			</div>
		</div>

		<div class="ea-inner">
			<div class="ea-scroll-content">
				<div class="ea-left-cover"></div>

				<div class="ea-page" data-page="total"></div>
				<div class="ea-page" data-page="category1"></div>
				<div class="ea-page" data-page="category2"></div>
				<div class="ea-page" data-page="category3"></div>
				<div class="ea-page" data-page="category4"></div>
				<div class="ea-page" data-page="category5"></div>
				<div class="ea-page" data-page="category6"></div>
				<div class="ea-page" data-page="category7"></div>
			</div>

			<div class="ea-scrollbar">
				<button class="ea-scroll-up"></button>
				<div class="ea-scroll-track">
					<div class="ea-scroll-thumb">
						<div class="ea-scroll-thumb-top"></div>
						<div class="ea-scroll-thumb-bottom"></div>
					</div>
				</div>
				<button class="ea-scroll-down"></button>
			</div>
		</div>
	</div>

	<div class="ea-btnbar">
		<div class="ea-btnbar-left" data-background="basic_interface/btnbar_left1.bmp"></div>
		<div class="ea-btnbar-mid" data-background="basic_interface/btnbar_mid1.bmp"></div>
		<div class="ea-btnbar-right" data-background="basic_interface/btnbar_right1.bmp"></div>
		<button class="ea-compare"></button>
	</div>
</div>
