#EnchantGrade {
	position: absolute;
	height: 330px;
	width: 400px;
}

#EnchantGrade .container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

#EnchantGrade .left_panel {
	position: absolute;
	height: 100%;
	width: 135px;
	left: 8px;
	top: 0px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
}

#EnchantGrade .grade_tank_container {
	flex-direction: column;
	height: 208px;
	width: 104px;
	background-repeat: no-repeat;
	top: 54px;
	margin-top: 54px;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	margin-bottom: 5px;
}

#EnchantGrade .probability {
	height: 50px;
	width: 60px;
	align-content: end;
	margin-top: 40px;
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: 600;
	text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
}

#EnchantGrade .enchant_container {
	height: 30px;
	width: 30px;
	position: relative;
	margin-bottom: 115px;
	left: 2px;
}

#EnchantGrade .enchant_drop_proxy {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 122px;
	left: 53px;
}

#EnchantGrade .item {
	height: 24px;
	width: 24px;
}

#EnchantGrade .enchant_container .item .grade {
	position: absolute;
	width: 12px;
	height: 12px;
	background-color: transparent;
	background-repeat: no-repeat;
	pointer-events: none;
	z-index: 2;
	top: 12px;
}

#EnchantGrade .grade-wheel {
	height: 23px;
	width: 43px;
	background-repeat: no-repeat;
}

#EnchantGrade .start_grade {
	height: 28px;
	width: 82px;
	background: transparent;
	border: none;
}

#EnchantGrade .right_panel {
	position: absolute;
	height: 100%;
	width: 258px;
	right: 0px;
	top: 0px;
	display: grid;
	grid-template-columns: 1fr;
	gap: 0px;
	align-content: start;
}

#EnchantGrade .container .right_panel .titlebar {
	width: 100%;
	height: 15px;
	top: 18px;
	left: 0px;
	display: flex;
	justify-content: flex-end; /* Pushes content to the right */
	align-items: center; /* Vertically centers the button */
	border: none;
	position: relative;
}

#EnchantGrade .close_btn {
	width: 13px;
	height: 13px;
	position: absolute;
	top: 4px;
	background: transparent;
	background-repeat: no-repeat;
	border: none;
}

#EnchantGrade .notification_container {
	position: relative;
	height: 45px;
	top: 33px;
	left: -2px;
	font-size: 8.5px;
	width: 95%;
	margin-left: 15px;
}

#EnchantGrade .materials_container {
	position: relative;
	height: 125px;
	top: 37px;
	left: 16px;
	width: 241px;
	display: flex;
	flex-direction: column;
	row-gap: 3px;
}

#EnchantGrade .material_slot1,
.material_slot2,
.material_slot3 {
	height: 37px;
	width: 235px;
	border: none;
	position: relative;
	top: 5px;
	display: flex;
	align-items: center;
	gap: 5px;
}

#EnchantGrade .material_slot1 .item,
.material_slot2 .item,
.material_slot3 .item {
	height: 24px;
	width: 24px;
	position: relative;
	top: 1px;
	left: 12px;
	margin-right: 15px;
}

#EnchantGrade .additional_materials {
	position: relative;
	height: 70px;
	top: 40px;
	left: -1px;
	display: flex;
}

#EnchantGrade .chance_panel {
	position: relative;
	width: 50px;
	height: 30px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: end;
}

#EnchantGrade .add_material_btn,
.remove_material_btn {
	height: 15px;
	width: 32px;
	border: none;
	background-color: transparent;
	z-index: 100;
}

#EnchantGrade .BED_container {
	height: 30px;
	position: relative;
	width: 80%;
	display: flex;
	align-items: center;
	top: 3px;
	left: 5px;
}

#EnchantGrade .footer {
	position: relative;
	height: 30px;
	top: 40px;
	left: -1px;
	display: flex;
	justify-content: flex-start;
	gap: 30px;
}

#EnchantGrade .zeny_cost_container {
	position: relative;
	height: 15px;
	width: 120px;
	top: 12px;
	left: 41px;
	text-align: end;
	font-weight: bolder;
}

#EnchantGrade .big_close_container {
	align-items: center;
	position: relative;
	display: flex;
	justify-content: flex-end;
	left: 45px;
}

#EnchantGrade .big_close_btn {
	height: 20px;
	width: 44px;
	border: none;
}

#enchant_tooltip {
	position: absolute;
	z-index: 9999;
	pointer-events: none;
	background: rgba(0, 0, 0, 0.85);
	border: 1px solid #8c7b4a;
	padding: 6px 8px;
	color: #fff;
	white-space: nowrap;
}

.enchant_tooltip.hidden {
	display: none;
}

#EnchantGrade .image-container {
	position: absolute;
	top: 1px;
	height: 301px;
	width: 262px;
}

#EnchantGrade .success {
	position: absolute;
	height: 20px;
	width: 261px;
	text-align: center;
	font-weight: bold;
	top: 12px;
}

#EnchantGrade .success .number {
	color: #2963de;
}

#EnchantGrade .item_to_EnchantGrade {
	position: absolute;
	height: 45px;
	width: 50px;
	top: 185px;
	left: 106px;
}

#EnchantGrade .enchant_container .item .grade {
	position: absolute;
	width: 12px;
	height: 12px;
	background-color: transparent;
	background-repeat: no-repeat;
	pointer-events: none;
	z-index: 2;
	top: 12px;
}

#EnchantGrade .item_to_EnchantGrade_name {
	position: absolute;
	height: 18px;
	width: 261px;
	text-align: center;
	top: 225px;
	align-content: center;
	font-weight: bold;
	color: #102142;
}

#EnchantGrade .item .icon {
	position: absolute;
	top: 0px;
	width: 24px;
	height: 24px;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	z-index: 2;
}

#EnchantGrade .some_notifs {
	position: absolute;
	height: 20px;
	width: 180px;
	left: 5px;
	top: 4px;
}

#EnchantGrade .notif {
	position: absolute;
	height: 13px;
	width: 14px;
	top: 4px;
}

#EnchantGrade .info_msg {
	position: absolute;
	height: 20px;
	width: 170px;
	left: 15px;
	font-size: 0.8em;
	align-content: center;
}

#EnchantGrade .info_msg.red {
	color: red;
}

#EnchantGrade .info_msg.blue {
	color: blue;
}

#EnchantGrade .cancel {
	position: absolute;
	height: 21px;
	width: 57px;
	bottom: 4px;
	right: 5px;
}

#EnchantGrade .materials {
	position: absolute;
	height: 78px;
	width: 100%;
	top: 30px;
}

#EnchantGrade .mat_overlay,
#EnchantGrade .bsb_overlay {
	position: absolute;
	height: 53px;
	width: 46px;
	background-size: 0px; /* Hide */
}

#EnchantGrade .mat_overlay.selected,
#EnchantGrade .bsb_overlay.selected {
	background-size: cover;
}

#EnchantGrade .mat_0 {
	left: 10px;
	top: 8px;
}

#EnchantGrade .mat_1 {
	left: 59px;
	top: 8px;
}

#EnchantGrade .mat_2 {
	top: 8px;
	left: 108px;
}

#EnchantGrade .mat_3 {
	top: 8px;
	left: 157px;
}

#EnchantGrade .bsb_overlay {
	top: 8px;
	left: 206px;
}

#EnchantGrade .material_0,
#EnchantGrade .material_1,
#EnchantGrade .material_2,
#EnchantGrade .material_3 {
	display: block;
}

#EnchantGrade .materials .item .icon {
	position: absolute;
	top: 7px;
	left: -2px;
	width: 24px;
	height: 24px;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	z-index: 2;
}

#EnchantGrade .mat_count {
	height: 20px;
	position: absolute;
	width: 50px;
	top: 46px;
	text-align: center;
	left: -15px;
}

#EnchantGrade .selected_materials {
	position: absolute;
	height: 50px;
	top: 83px;
	width: 100%;
}

#EnchantGrade .selected_mat {
	position: relative;
	height: 30px;
	width: 30px;
	left: 68px;
	top: 6px;
}

#EnchantGrade .bsb_selected {
	position: absolute;
	height: 30px;
	width: 30px;
	left: 149px;
	top: 6px;
}

#EnchantGrade .EnchantGrade_button {
	position: absolute;
	height: 45px;
	width: 92px;
	bottom: 9px;
	left: 85px;
}

#EnchantGrade .EnchantGrade_disabled,
#EnchantGrade .EnchantGrade_enabled {
	position: absolute;
	height: 48px;
	width: 96px;
	top: -2px;
	left: -2px;
}

#EnchantGrade .EnchantGrade_enabled {
	cursor: pointer;
}

#EnchantGrade .EnchantGrade_text {
	font-weight: bold;
	position: relative;
	height: 15px;
	width: 92px;
	text-align: center;
	color: #101839;
	top: 5px;
	pointer-events: none;
}

#EnchantGrade .EnchantGrade_zeny {
	position: relative;
	height: 15px;
	width: 65px;
	top: 9px;
	left: 20px;
	color: white;
	text-align: right;
	font-weight: bold;
	pointer-events: none;
}

#EnchantGrade .back_button {
	position: absolute;
	height: 38px;
	width: 101px;
	bottom: 13px;
	left: 19px;
	text-align: center;
	font-weight: bold;
	align-content: center;
	cursor: pointer;
}

#EnchantGrade .back_success,
#EnchantGrade .back_fail {
	position: relative;
	height: 38px;
	width: 101px;
	top: 0px;
	left: 0px;
	text-align: center;
	font-weight: bold;
	align-content: center;
	cursor: pointer;
}

#EnchantGrade .EnchantGrade_cont {
	position: absolute;
	height: 50px;
	width: 101px;
	bottom: 1px;
	right: 20px;
	text-align: center;
	font-weight: bold;
	align-content: center;
	cursor: pointer;
	z-index: 5;
}

#EnchantGrade .EnchantGrade_cont.item {
	/* Override conflicting properties */
	position: absolute !important;
	float: none !important;
	height: 50px !important;
	width: 101px !important;
	left: auto !important;
	top: auto !important;
	bottom: 1px !important;
	right: 20px !important;
	text-align: center;
	font-weight: bold;
	align-content: center;
	cursor: pointer;
	z-index: 5;
}

#EnchantGrade .success_EnchantGrade_cont_enabled,
#EnchantGrade .success_EnchantGrade_cont_disabled,
#EnchantGrade .fail_EnchantGrade_cont_enabled,
#EnchantGrade .fail_EnchantGrade_cont_disabled {
	position: absolute;
	height: 50px;
	width: 101px;
	top: 0px;
	left: 0px;
	text-align: center;
	font-weight: bold;
	align-content: center;
	cursor: pointer;
}

#EnchantGrade .EnchantGrade_text_cont {
	position: absolute;
	height: 15px;
	width: 100px;
	text-align: center;
	align-content: center;
	pointer-events: none;
	font-weight: bold;
	bottom: 27px;
	left: 0px;
}

#EnchantGrade .chance_rate {
	position: absolute;
	height: 15px;
	width: 100px;
	bottom: 14px;
	left: 0px;
	text-align: center;
	align-content: center;
	pointer-events: none;
}

#EnchantGrade .EnchantGrade_zeny_cont {
	position: absolute;
	height: 15px;
	width: 100px;
	bottom: 0px;
	left: 0px;
	text-align: center;
	align-content: center;
	color: white;
	pointer-events: none;
	font-weight: bold;
}
