<div id="ConvertItems">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<span class="text" data-text="1569">Storage</span>
		</div>
		<div class="clear"></div>
	</div>
	<div class="overlay"></div>
	<div class="panel">
		<div class="body">
			<div class="infor_nventory">
				<div class="tabs" rowspan="2" data-background="basic_interface/chatwin1_mid.bmp"></div>
				<div class="container">
					<div class="content" data-background="basic_interface/itemwin_mid.bmp"></div>
				</div>
			</div>
			<div>
				<div class="footer" data-background="basic_interface/btnbar_mid2.bmp">
					<button
						class="btn trade"
						data-background="btn_exchange.bmp"
						data-hover="btn_exchange_a.bmp"
						data-down="btn_exchange_b.bmp"
					></button>
					<button
						class="btn cancel"
						data-background="btn_cancel.bmp"
						data-hover="btn_cancel_a.bmp"
						data-down="btn_cancel_b.bmp"
					></button>
					<button class="extend" data-background="btn_resize.bmp"></button>
				</div>
			</div>
		</div>
	</div>
</div>
