<div id="ModelMessage" >
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">				
			<button class="base" data-background="basic_interface/sys_base_off.bmp" data-hover="basic_interface/sys_base_on.bmp"></button>
			<!-- data-text does not exist -->
			<span class="text">Message</span>
		</div>
		<div class="clear"></div>
	</div>
	<div class="container">
		<div style="height: 73px;padding: 11px;">
			<span class="text" data-text="1584">Consumption items are used in the synthesis. Are you sure?</span>
		</div>
		<div style="height: 28px;"></div>
	</div>

</div>
	







