<div id="ModelMessage" >
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">				
			<button class="base" data-background="basic_interface/sys_base_off.bmp" data-hover="basic_interface/sys_base_on.bmp"></button>
			<!-- data-text does not exist -->
			<span class="text">Message</span>
		</div>
		<div class="clear"></div>
	</div>
	<div class="container">
		<div class="text_message">
			<span class="text" data-text="1584">Consumption items are used in the synthesis. Are you sure?</span>
		</div>
		<div  class="btns">
			<button class="btn ok" data-background="btn_ok.bmp" data-hover="btn_ok_a.bmp" data-down="btn_ok_b.bmp"></button>
			<button class="btn cancel" data-background="btn_cancel.bmp" data-hover="btn_cancel_a.bmp" data-down="btn_cancel_b.bmp"></button>
			
		</div>
	</div>

</div>
	







