#charselect_v3 {
    position:relative;
    width:995px;
    height:625px;
    z-index:100;
    font-size: 11px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 5px;
}

/** Box **/
#charselect_v3 .char_list {
    width: 800px;
    height: 625px;
    float: left;
}

#charselect_v3 .box_select { position:absolute; width:157px; height:159px; top:40px; margin-left:-5px; }
#charselect_v3 .char_canvas {
    width: 157px;
    height: 195px;
    float: left;
    position: relative;
}
#charselect_v3 .char_canvas .name {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

/** Slot info **/
#charselect_v3 .slotinfo { position:absolute; top:195px; right:10px; height:20px; display:block; border:1px solid #c6cee7; border-radius:4px; padding-left:10px; padding-right:10px; }
#charselect_v3 .slotinfo .number { color:#58709e; font-weight:bold; margin-right:10px; }
#charselect_v3 .slotinfo .content { color:#555; top:6px; right:8px; }

/** Page info **/
#charselect_v3 .pageinfo { position:absolute; left:275px; top:185px; font-weight: bold; color: #646464; }
#charselect_v3 .pageinfo .current { color: #fe3b7d; }

/** Characters infos **/
#charselect_v3 .charinfo { 
    height: 625px;
    width: 185px;
    float: left;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
 }
#charselect_v3 .charinfo div {
    position:absolute;
    width:90px;
    height:13px;
}
#charselect_v3 .charinfo .name { left: 52px; top: 2px; white-space:nowrap; }
#charselect_v3 .charinfo .job  { left: 60px; top:105px; }
#charselect_v3 .charinfo .lvl  { left: 60px; top:123px; }
#charselect_v3 .charinfo .exp  { left: 60px; top:140px; }
#charselect_v3 .charinfo .hp   { left: 60px; top:157px; }
#charselect_v3 .charinfo .sp   { left: 60px; top:174px; }
#charselect_v3 .charinfo .map  { left: 60px; top:89px; width:238px; }
#charselect_v3 .charinfo .str  { left:  60px; top: 191px; }
#charselect_v3 .charinfo .agi  { left:  60px; top:208px; }
#charselect_v3 .charinfo .vit  { left:  60px; top:225px; }
#charselect_v3 .charinfo .int  { left:  60px; top:242px; }
#charselect_v3 .charinfo .dex  { left:  60px; top:259px; }
#charselect_v3 .charinfo .luk  { left:  60px; top:276px; }

/** Buttons **/
#charselect_v3 .btn.delete {
    position: absolute;
    border: 0;
    width: 131px;
    height: 24px;
    background-repeat: no-repeat;
    background-color: transparent;
 }
#charselect_v3 .btn.ok {
    position: absolute;
    border: 0;
    width: 165px;
    height: 110px;
    background-repeat: no-repeat;
    background-color: transparent;
    color: white;
    padding-top: 20px;
 }
 #charselect_v3 .btn.ok:hover {
    text-shadow: #000 1px 1px;
 }

#charselect_v3 .ok, #charselect_v3 .make {
    right: 15px;
    top: 380px;
 }
#charselect_v3 .cancel {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 17px;
    height: 18px;
    border: none;
    background-repeat: no-repeat;
    background-color: transparent;
}
#charselect_v3 .delete { 
    right: 33px;
    top: 300px;
 }
