#FPS {
	position: absolute;
	top: 100px;
	left: 100px;
	background: white;
	border-radius: 2px;
}
#FPS .titlebar {
	width: 100%;
	height: 17px;
	background-color: white;
	background-repeat: repeat-x;
	border-radius: 3px 3px 0px 0px;
}
#FPS .titlebar .left {
	margin-left: 3px;
	float: left;
}

.fps-good {
	color: #006400;
}

.fps-warn {
	color: #ff9800;
}

.fps-bad {
	color: #f44336;
}
