<div id="ItemPreview" class="ItemPreview">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<span class="title" data-text="2960"></span>
		<button
			class="close"
			data-background="basic_interface/sys_close_off.bmp"
			data-hover="basic_interface/sys_close_on.bmp"
		></button>
	</div>
	<div class="content">
		<canvas width="55" height="145"></canvas>
		<div class="controls">
			<button
				class="rot_left"
				data-background="make_character/chr_arrow_rotate_l_out.bmp"
				data-hover="make_character/chr_arrow_rotate_l_over.bmp"
				data-down="make_character/chr_arrow_rotate_l_press.bmp"
			></button>
			<button
				class="reset"
				data-background="equip_preview\btn_mounting_normal.bmp" 
				data-down="equip_preview\btn_mounting_press.bmp" 
				data-hover="equip_preview\btn_mounting_over.bmp" 
				data-text="2975"
			></button>
			<button
				class="rot_right"
				data-background="make_character/chr_arrow_rotate_r_out.bmp"
				data-hover="make_character/chr_arrow_rotate_r_over.bmp"
				data-down="make_character/chr_arrow_rotate_r_press.bmp"
			></button>
		</div>
	</div>
</div>
