<div id="LaphineSys">
	<div class="container" data-background="lapine/bg_lapine.bmp">
		<div class="titlebar">
			<div class="left">
				<button
					class="base"
					data-background="basic_interface/sys_base_off.bmp"
					data-hover="basic_interface/sys_base_on.bmp"
				></button>
				<span class="item_text"></span>
			</div>
			<div class="right">
				<button
					class="base close"
					data-background="basic_interface/sys_close_off.bmp"
					data-hover="basic_interface/sys_close_on.bmp"
				></button>
			</div>
			<div class="clear"></div>
		</div>
		<div class="overlay"></div>
		<div class="panel">
			<div class="scroll_hider"></div>
			<div class="left_panel">
				<div class="mat_info_container">
					<div class="info_title" data-text="2896"></div>
					<div class="mat_info_list"></div>
					<div class="mat_count_submitted"></div>
					<div class="mat_count_needed"></div>
				</div>
				<div class="submitted_mat_list"></div>
			</div>
			<div class="submit_button_disabled" data-background="lapine/btn_moveitem_dis.bmp"></div>
			<div
				class="submit_button_enabled"
				data-background="lapine/btn_moveitem_out.bmp"
				data-hover="lapine/btn_moveitem_over.bmp"
				data-press="lapine/btn_moveitem_press.bmp"
			></div>
			<div class="available_mat_list"></div>
			<div class="footer">
				<div class="some_notifs">
					<div class="notif" data-background="lapine/icon_notify.bmp"></div>
					<span class="info_msg"></span>
				</div>
				<div
					class="cancel"
					data-background="lapine/btn_cancel_out.bmp"
					data-hover="lapine/btn_cancel_over.bmp"
					data-down="lapine/btn_cancel_press.bmp"
				></div>
				<div
					class="make_enabled"
					data-background="lapine/btn_make_out.bmp"
					data-hover="lapine/btn_make_over.bmp"
					data-down="lapine/btn_make_press.bmp"
				></div>
				<div class="make_disabled" data-background="lapine/btn_make_dis.bmp"></div>
			</div>
		</div>
	</div>
</div>
