:host {
	width: 555px;
	height: 455px;
	top: 0px;
	left: 0px;
}

#MakeReadBook {
	position: absolute;
	width: 555px;
}

#MakeReadBook .titlebar {
	width: 100%;
	height: 17px;
	background-color: white;
	background-repeat: repeat-x;
	border-radius: 3px 3px 0px 0px;
}
#MakeReadBook .titlebar .text {
	text-shadow: 1px 1px white;
	vertical-align: -2px;
	white-space: nowrap;
	display: inline-block;
	width: 32px;
	height: 13px;
	margin-left: 15px;
	font-size: 11px;
	font-weight: bold;
}

#MakeReadBook .titlebar .left {
	margin-left: 3px;
	float: left;
}
#MakeReadBook .titlebar .clear {
	clear: both;
}

.panel {
	width: 538px;
	height: 373px;
	border: 1px solid #ccc;
	padding: 8px;
}

#MakeReadBook .panel .title_book_text {
	text-align: center;
	font-weight: bold;
	padding-bottom: 13px;
}

#MakeReadBook .panel .text_book {
	height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;
	white-space: pre-wrap;
}
#MakeReadBook .panel .page_book {
	text-align: center;
}

.footer {
	width: 538px;
	height: 30px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 8px;
}
.footer #highlighter {
	float: left;
}
.footer .highlighter {
	cursor: pointer;
}
.footer #next_previous {
	float: right;
}
.footer .previous_btn,
.footer .next_btn {
	cursor: pointer;
}

.footer .clone_book {
	cursor: pointer;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.bookmark {
	display: none;
	position: relative;
	left: 60px;
	bottom: 20px;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 3px 6px;
	font-size: 10px;
	white-space: nowrap;
	z-index: 10;
}
.previous {
	display: none;
	position: relative;
	bottom: 20px;
	left: -60px;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 3px 6px;
	font-size: 10px;
	white-space: nowrap;
	z-index: 10;
}
.next {
	display: none;
	position: relative;
	bottom: 20px;
	left: 10px;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 3px 6px;
	font-size: 10px;
	white-space: nowrap;
	z-index: 10;
}
