<div id="charcreate_v2">
	<div class="header">
		<div class="corner left" data-background="basic_interface/titlebar_left.bmp" />
		<div class="center" data-background="basic_interface/titlebar_mid.bmp" />
		<div class="corner right" data-background="basic_interface/titlebar_right.bmp" />

		<div class="title" data-text="2368" />
	</div>

	<div class="content" data-background="login_interface/win_make2.bmp">
		<canvas width="65" height="110"></canvas>

		<input type="text" data-background="login_interface/name-edit.bmp" value="" />

		<button class="styleleft" data-background="scroll1left.bmp"></button>
		<button class="styleright" data-background="scroll1right.bmp"></button>

		<button class="colorleft" data-background="scroll1left.bmp"></button>
		<button class="colorright" data-background="scroll1right.bmp"></button>
	</div>

	<div class="footer">
		<div class="corner left" data-background="basic_interface/btnbar_left2.bmp" />
		<div class="center" data-background="basic_interface/btnbar_mid2.bmp"></div>
		<div class="corner right" data-background="basic_interface/btnbar_right2.bmp" />

		<div class="btns">
			<button
				class="btn cancel"
				data-background="btn_cancel.bmp"
				data-hover="btn_cancel_a.bmp"
				data-down="btn_cancel_b.bmp"
			></button>
			<button
				class="btn make"
				data-background="btn_make.bmp"
				data-hover="btn_make_a.bmp"
				data-down="btn_make_b.bmp"
			></button>
		</div>
	</div>
</div>
