<div id="login_background">
	<div class="login_background_image" data-background="t_¹è°æ1-1.bmp"></div>
	<div class="login_background_image" data-background="t_¹è°æ1-2.bmp"></div>
	<div class="login_background_image" data-background="t_¹è°æ1-3.bmp"></div>
	<div class="login_background_image" data-background="t_¹è°æ1-4.bmp"></div>
	<div class="login_background_image" data-background="t_¹è°æ2-1.bmp"></div>
	<div class="login_background_image" data-background="t_¹è°æ2-2.bmp"></div>
	<div class="login_background_image" data-background="t_¹è°æ2-3.bmp"></div>
	<div class="login_background_image" data-background="t_¹è°æ2-4.bmp"></div>
	<div class="login_background_image" data-background="t_¹è°æ3-1.bmp"></div>
	<div class="login_background_image" data-background="t_¹è°æ3-2.bmp"></div>
	<div class="login_background_image" data-background="t_¹è°æ3-3.bmp"></div>
	<div class="login_background_image" data-background="t_¹è°æ3-4.bmp"></div>
</div>
<div id="win_login" data-background="login_interface/bg_login.tga">
	<!-- User Auth -->
	<input class="user" type="text" value="" />
	<input class="pass" type="password" value=""/>
	<button class="save" type="button" data-background="login_interface/chk_saveoff.bmp" data-preload="login_interface/chk_saveon.bmp"></button>

	<!-- Buttons -->
	<button class="btn connect" type="submit" data-background="login_interface/bt_start_normal.bmp" data-hover="login_interface/bt_start_over.bmp" data-down="login_interface/bt_start_press.bmp"></button>
	<button class="btn signup" type="button" data-background="login_interface/bt_join_normal.bmp" data-hover="login_interface/bt_join_over.bmp" data-down="login_interface/bt_join_press.bmp">Sign Up</button>
</div>