<div id="login_background">
	<div id="login_background_image_1" class="login_background_image" data-background="t_¹è°æ1-1.bmp"></div>
	<div id="login_background_image_2" class="login_background_image" data-background="t_¹è°æ1-2.bmp"></div>
	<div id="login_background_image_3" class="login_background_image" data-background="t_¹è°æ1-3.bmp"></div>
	<div id="login_background_image_4" class="login_background_image" data-background="t_¹è°æ1-4.bmp"></div>
	<div id="login_background_image_5" class="login_background_image" data-background="t_¹è°æ2-1.bmp"></div>
	<div id="login_background_image_6" class="login_background_image" data-background="t_¹è°æ2-2.bmp"></div>
	<div id="login_background_image_7" class="login_background_image" data-background="t_¹è°æ2-3.bmp"></div>
	<div id="login_background_image_8" class="login_background_image" data-background="t_¹è°æ2-4.bmp"></div>
	<div id="login_background_image_9" class="login_background_image" data-background="t_¹è°æ3-1.bmp"></div>
	<div id="login_background_image_10" class="login_background_image" data-background="t_¹è°æ3-2.bmp"></div>
	<div id="login_background_image_11" class="login_background_image" data-background="t_¹è°æ3-3.bmp"></div>
	<div id="login_background_image_12" class="login_background_image" data-background="t_¹è°æ3-4.bmp"></div>
</div>
<div id="win_login" class="win_login" draggable="true" data-background="login_interface/bg_login.tga">
	<!-- User Auth -->
	<input id="user" class="user" type="text" value="" />
	<input id="pass" class="pass" type="password" value=""/>
	<button id="save" class="save" type="button" data-background="login_interface/chk_saveoff.bmp" data-preload="login_interface/chk_saveon.bmp"></button>

	<!-- Buttons -->
	<button id="btn_connect" class="btn connect" type="submit" data-background="login_interface/bt_start_normal.bmp" data-hover="login_interface/bt_start_over.bmp" data-down="login_interface/bt_start_press.bmp"></button>
	<button id="btn_connect" class="btn signup" type="button" data-background="login_interface/bt_join_normal.bmp" data-hover="login_interface/bt_join_over.bmp" data-down="login_interface/bt_join_press.bmp">Sign Up</button>
</div>