#CaptchaSelector {
    width: 210px;
    height: 310px;
    position: absolute;
    z-index: 50;
    background-color: #ffffff;
    font-size: 12px;
}

#CaptchaSelector .clear {
    clear: both;
}

#CaptchaSelector .titlebar {
    width: 210px;
    height: 17px;
    background-color: white;
    background-repeat: repeat-x;
    border-radius: 3px 3px 0px 0px;
}

#CaptchaSelector .base {
    width: 11px;
    height: 11px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    vertical-align: middle;
}

#CaptchaSelector .titlebar .text {
    text-shadow: 1px 1px white;
    vertical-align: -2px;
    white-space: nowrap;
    /* chrome bug */
    display: inline-block;
    width: 32px;
    height: 13px;
}

#CaptchaSelector .titlebar .left {
    margin-left: 3px;
    float: left;
}

#CaptchaSelector .titlebar .right, #CaptchaSelector .character_info .close-character {
    float: right;
    margin-right: 3px;
}

#CaptchaSelector .titlebar .clear {
    clear: both;
}

#CaptchaSelector .container {
    height: 293px;
}

#CaptchaSelector .options {
    height: 22px;
}

#CaptchaSelector .player_list {
    height: 247px;
    overflow-y: auto;
    list-style: none;
    margin: 0px 10px;
    padding: 0;
}

#CaptchaSelector .player_list li {
    width: 190px;
    height: 24px;
    margin: 2px 0;
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    gap: 5px;
}

#CaptchaSelector .options {
    display: flex;
    align-items: center;
    font-size: 10px;
}

#CaptchaSelector .footer {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 24px;
}

#CaptchaSelector .range_val {
    appearance: none;
    width: 20px;
    border: 1px solid;
    margin-left: 3px;
}

#CaptchaSelector .range_val::-webkit-inner-spin-button,
#CaptchaSelector .range_val::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    border: 1px solid;
    margin-left: 3px;
}

#CaptchaSelector .btn_active, #CaptchaSelector .footer .btn{
    border: 0;
    width: 42px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: transparent;
}

#CaptchaSelector .btn_active {
    margin-left: 15px;
}

#CaptchaSelector .footer .btn {
    margin-right: 10px;
}

#CaptchaSelector .character_info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 3px;
}

#CaptchaSelector li a {
    text-decoration: underline;
    color: black;
}

