<div id="CaptchaPreview">
    <div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
        <div class="left">
            <button class="base" data-background="basic_interface/sys_base_off.bmp"
                data-hover="basic_interface/sys_base_on.bmp"></button>
        </div>
        <div class="right">
            <button class="base close" data-background="basic_interface/sys_close_off.bmp"
                data-hover="basic_interface/sys_close_on.bmp"></button>
        </div>
        <div class="clear"></div>
    </div>
    <div class="container">
        <div class="preview_box"></div>
    </div>
</div>