<div id="CaptchaAnswer">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button
				class="base"
				data-background="basic_interface/sys_base_off.bmp"
				data-hover="basic_interface/sys_base_on.bmp"
			></button>
		</div>
		<div class="right"></div>
		<div class="clear"></div>
	</div>
	<div class="container">
		<div class="information">
			<div class="message">
				<span data-text="2883">Hello, illegal software is being monitored.</span><br />
				<span data-text="2884">Please enter the text below within the specified time.</span><br />
				<span data-text="2885">If you enter the text wrong three times, you will get banned</span><br />
				<span class="error_text"></span>
			</div>
			<div class="timer_bar_bg">
				<div class="timer_bar_fill"></div>
			</div>

			<div class="status">
				<span class="retry_count">Remaining chance: 3</span>
				<span class="timer_text">00:59</span>
			</div>
		</div>
		<div class="preview_box"></div>
		<div class="controls">
			<input type="text" id="answer_input" class="answer_input" placeholder="Captcha Answer" />
			<button
				class="btn ok"
				data-background="btn_ok.bmp"
				data-hover="btn_ok_a.bmp"
				data-down="btn_ok_b.bmp"
			></button>
		</div>
	</div>
</div>
