<div id="CaptchaUpload">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button
				class="base"
				data-background="basic_interface/sys_base_off.bmp"
				data-hover="basic_interface/sys_base_on.bmp"
			></button>
		</div>
		<div class="right">
			<button
				class="base close"
				data-background="basic_interface/sys_close_off.bmp"
				data-hover="basic_interface/sys_close_on.bmp"
			></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="container">
		<div class="custom_file_input">
			<input type="text" id="captcha_file_text" readonly placeholder="No file selected" />
			<button
				id="captcha_browse_btn"
				class="btn_browse"
				data-background="basic_interface/txtbox_btn_a.bmp"
				data-hover="basic_interface/txtbox_btn_b.bmp"
				data-down="basic_interface/txtbox_btn_c.bmp"
			></button>
			<input type="file" id="captcha_file_input" accept="image/bmp" style="display: none" />
		</div>
		<div class="preview_box"></div>
		<div class="controls">
			<input type="text" id="answer_input" class="answer_input" placeholder="Captcha Answer" />
			<button
				class="btn ok"
				data-background="btn_ok.bmp"
				data-hover="btn_ok_a.bmp"
				data-down="btn_ok_b.bmp"
			></button>
		</div>
	</div>
</div>
