#CaptchaUpload {
	position: absolute;
	width: 280px;
	height: 200px;
	background-color: #ffffff;
	font-size: 12px;
	border-radius: 3px;
}

#CaptchaUpload .clear {
	clear: both;
}

#CaptchaUpload .titlebar {
	width: 280px;
	height: 17px;
	background-color: white;
	background-repeat: repeat-x;
	border-radius: 3px 3px 0px 0px;
}

#CaptchaUpload .titlebar .base {
	width: 11px;
	height: 11px;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	vertical-align: middle;
}

#CaptchaUpload .titlebar .text {
	text-shadow: 1px 1px white;
	vertical-align: -2px;
	white-space: nowrap;
	/* chrome bug */
	display: inline-block;
	width: 32px;
	height: 13px;
}

#CaptchaUpload .titlebar .left {
	margin-left: 3px;
	float: left;
}

#CaptchaUpload .titlebar .right {
	float: right;
	margin-right: 3px;
}

#CaptchaUpload .titlebar .clear {
	clear: both;
}

#CaptchaUpload .container {
	padding: 10px;
	text-align: center;
}

#CaptchaUpload .btn {
	border: 0;
	width: 42px;
	height: 20px;
	background-repeat: no-repeat;
	background-color: transparent;
	margin-left: 5px;
}

/* Custom File Input Styles */
#CaptchaUpload .custom_file_input {
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#CaptchaUpload #captcha_file_text {
	width: 170px;
	border: 1px solid #7f9db9;
	background-color: #fff;
	color: #000;
	height: 14px;
}

#CaptchaUpload .btn_browse {
	width: 18px;
	height: 18px;
	cursor: pointer;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
}

#CaptchaUpload .btn_browse:active {
	border-color: #696969 #fff #fff #696969;
}

#CaptchaUpload .preview_box {
	width: 220px;
	height: 90px;
	border: 1px solid #999;
	margin: 0 auto 10px auto;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

#CaptchaUpload .preview_box img {
	max-width: 100%;
	max-height: 100%;
}

#CaptchaUpload input[type='text'].answer_input {
	width: 150px;
	margin-right: 5px;
	border: 1px solid #7f9db9;
}

#CaptchaUpload .controls {
	display: flex;
	justify-content: center;
	align-items: center;
}
