#charselect2 { position:absolute; width:576px; height:358px; z-index:100; font-size: 11px; }

/** Box **/
#charselect2 .box_select {
    position: absolute;
    width: 139px;
    height: 144px;
    top: 40px;
    margin-left: -5px;
}
#charselect2 canvas {
    position: absolute;
    top: 44px;
}
#charselect2 .slot1 {
    left: 60px;
}
#charselect2 .slot2 {
    left: 224px;
}
#charselect2 .slot3 {
    left: 386px;
}

/** Arrow **/
#charselect2 .arrow {
    position: absolute;
    top: 105px;
    width: 13px;
    height: 13px;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
}
#charselect2 .arrow.left {
    left: 40px;
}
#charselect2 .arrow.right {
    right: 40px;
}

/** Slot info **/
#charselect2 .slotinfo {
    position: absolute;
    top: 195px;
    right: 10px;
    height: 20px;
    display: block;
    border: 1px solid #c6cee7;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}
#charselect2 .slotinfo .number {
    color: #58709e;
    font-weight: bold;
    margin-right: 10px;
}
#charselect2 .slotinfo .content {
    color: #555;
    top: 6px;
    right: 8px;
}

/** Page info **/
#charselect2 .pageinfo {
    position: absolute;
    left: 275px;
    top: 185px;
    font-weight: bold;
    color: #646464;
}
#charselect2 .pageinfo .current {
    color: #fe3b7d;
}

/** Characters infos **/
#charselect2 .charinfo {
    position: absolute;
    width: 285px;
    top: 204px;
    left: 16px;
}
#charselect2 .charinfo div {
    position: absolute;
    width: 90px;
    height: 13px;
    font-size: 12px;
}
#charselect2 .charinfo .name {
    left: 52px;
    top: 2px;
    white-space: nowrap;
}
#charselect2 .charinfo .job {
    left: 52px;
    top: 18px;
}
#charselect2 .charinfo .lvl {
    left: 52px;
    top: 34px;
}
#charselect2 .charinfo .exp {
    left: 52px;
    top: 50px;
}
#charselect2 .charinfo .hp {
    left: 52px;
    top: 66px;
}
#charselect2 .charinfo .sp {
    left: 52px;
    top: 82px;
}
#charselect2 .charinfo .map {
    left: 52px;
    top: 98px;
    width: 238px;
}
#charselect2 .charinfo .str {
    left: 200px;
    top: 2px;
}
#charselect2 .charinfo .agi {
    left: 200px;
    top: 18px;
}
#charselect2 .charinfo .vit {
    left: 200px;
    top: 34px;
}
#charselect2 .charinfo .int {
    left: 200px;
    top: 50px;
}
#charselect2 .charinfo .dex {
    left: 200px;
    top: 66px;
}
#charselect2 .charinfo .luk {
    left: 200px;
    top: 82px;
}

/** Buttons **/
#charselect2 .btns {
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 20px;
}
#charselect2 .btn {
    position: absolute;
    border: 0;
    width: 42px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: transparent;
}

#charselect2 .ok, #charselect .make {
    right: 50px;
}
#charselect2 .cancel {
    right: 4px;
}
#charselect2 .delete {
    left: 4px;
	width: 67px;
}
#charselect2 .canceldelete {
    left: 50px;
	width: 67px;
}
#charselect2 .finaldelete {
    left: 4px;
}
#charselect2 .timedelete {
    position: absolute;
    height: 20px;
    width: 120px;
    top: 75px;
}
#charselect2 .timedelete.waitdelete{
	color: blue;
}
#charselect2 .timedelete.candelete{
	color: red;
}
#charselect2 .timedelete.slot1 {
    left: 63px;
}
#charselect2 .timedelete.slot2 {
    left: 227px;
}
#charselect2 .timedelete.slot3 {
    left: 389px;
}
