#WinStats {
	position: absolute;
	width: 280px;
	height: 130px;
	background-color: transparent;
	background-repeat: no-repeat;
}

#WinStats .titlebar {
	width: 280px;
	height: 17px;
	background-color: white;
	background-repeat: repeat-x;
	border-radius: 3px 3px 0px 0px;
}
#WinStats .titlebar .base {
	width: 11px;
	height: 11px;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	vertical-align: middle;
}
#WinStats .titlebar .text {
	text-shadow: 1px 1px white;
	vertical-align: -2px;
	white-space: nowrap;
	/* chrome bug */
	display: inline-block;
	width: 32px;
	height: 13px;
}

#WinStats .titlebar .left {
	margin-left: 3px;
	float: left;
}
#WinStats .titlebar .right {
	float: right;
	margin-right: 3px;
}
#WinStats .titlebar .clear {
	clear: both;
}

#WinStats .panel {
	height: 103px;
}
#WinStats .group {
	position: absolute;
	top: 23px;
}
#WinStats .group div {
	height: 16px;
	display: block;
}
#WinStats .stats {
	left: 53px;
}
#WinStats .bonus {
	left: 70px;
}
#WinStats .requirements {
	left: 96px;
	text-align: right;
	width: 12px;
}
#WinStats .column1 {
	top: 23px;
	right: 87px;
	text-align: right;
}
#WinStats .column2 {
	top: 23px;
	right: 5px;
	text-align: right;
}
#WinStats .up {
	left: 89px;
	top: 18px;
}
#WinStats .up button {
	display: block;
	margin-top: 5px;
	border: none;
	width: 11px;
	height: 11px;
	background-color: transparent;
	background-repeat: no-repeat;
}
