<div id="ItemListWindowSelection">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<span class="text" data-text="1568">Storage</span>
		</div>
		<div class="clear"></div>
	</div>
	<div class="overlay"></div>
	<div class="panel">
		<div class="body">
			<div class="infor_nventory">
				<div class="tabs" rowspan="2" data-background="basic_interface/chatwin1_mid.bmp">
				</div>
				<div class="container">
					<div class="content" data-background="basic_interface/itemwin_mid.bmp"></div>
				</div>
			</div>
			<div>
				<div class="footer" data-background="basic_interface/btnbar_mid2.bmp">
					<div class="ask_quantity ">
						<button class="selectall event_selectall" data-background="checkbox_0.bmp" data-preload="checkbox_1.bmp"></button> <span class="event_selectall event_add_cursor" data-text="295">Don't ask the Quantity of Items</span>
					</div>
					
					<button class="extend" data-background="btn_resize.bmp"></button>
				</div>
			</div>
		</div>
	</div>
</div>