<div id="vending">
	<div class="InputWindow">
		<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
			<div class="text">
				<span class="WinSell" data-text="232">Available Items for Vending</span>
			</div>
		</div>
		<div class="container" data-background="basic_interface/itemwin_left.bmp">
			<div class="content" data-background="basic_interface/itemwin_mid.bmp"></div>
		</div>
		<div class="footer" data-background="basic_interface/btnbar_mid2.bmp">
			<button class="extend" data-background="btn_resize.bmp"></button>
		</div>
	</div>
	<div class="OutputWindow">
		<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
			<div class="text">
				<span class="WinSell" data-text="224">Vending</span>
			</div>
		</div>
		<div class="container" data-background="basic_interface/itemwin_left.bmp">
			<div class="nstore">Shop Name:</div>
			<input class="shopname" type="text" value=""/><br />
			<div class="content" data-background="basic_interface/itemwin_mid.bmp"></div>
		</div>
		<div class="footer" data-background="basic_interface/btnbar_mid2.bmp">
			<button class="btn sell WinSell" data-background="btn_ok.bmp" data-hover="btn_ok_a.bmp" data-down="btn_ok_b.bmp"></button>
			<button class="btn cancel" data-background="btn_cancel.bmp" data-hover="btn_cancel_a.bmp" data-down="btn_cancel_b.bmp"></button>
		</div>
	</div>
</div>
