#GraphicsOption {
	position: absolute;
	top: 100px;
	left: 100px;
	background: white;
	border-radius: 2px;
}

#GraphicsOption .titlebar {
	width: 100%;
	height: 17px;
	background-color: white;
	background-repeat: repeat-x;
	border-radius: 3px 3px 0px 0px;
}
#GraphicsOption .titlebar .base {
	width: 11px;
	height: 11px;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	vertical-align: middle;
}
#GraphicsOption .titlebar .text {
	text-shadow: 1px 1px white;
	vertical-align: -2px;
	white-space: nowrap;
	/* chrome bug */
	display: inline-block;
	white-space: nowrap;
	height: 13px;
}

#GraphicsOption .titlebar .left {
	margin-left: 3px;
	float: left;
}
#GraphicsOption .titlebar .right {
	float: right;
	margin-right: 3px;
}
#GraphicsOption .titlebar .clear {
	clear: both;
}

#GraphicsOption .panel {
	padding-left: 5px;
	padding-right: 5px;
}

#GraphicsOption .tab-button {
	width: 80px;
	height: 100%;
	color: #42454a;
	border: 1px solid #c9c3ba;
	border-bottom: none;
	text-decoration: none;
	display: inline-block;
	vertical-align: bottom;
	border-radius: 3px 3px 0 0;
	text-align: center;
	background: #f0f0f0;
	cursor: pointer;
}

#GraphicsOption .tab-button.selected {
	color: #000;
	font-weight: bold;
	border-bottom: 1px solid white;
	position: relative;
	z-index: 100;
	background-color: white;
}

#GraphicsOption .tab-content {
	display: none;
}

#GraphicsOption .tab-content.selected {
	display: block;
}

#GraphicsOption .content {
	display: none;
}

#GraphicsOption .content.selected {
	display: block;
}

#GraphicsOption .reset-button {
	background: #8b0000;
	border: 1px solid #a52a2a;
	color: white;
	padding: 4px 8px;
	cursor: pointer;
	margin: 10px;
}
