<div id="Mail">
	<div class="body" data-background="basic_interface/maillist1_bg.bmp">
		<div class="titlebar">
			<div class="left">
				<span class="text" id="title" data-text="1025">Mail List</span>
			</div>
			<div class="right">
				<button class="base close" data-background="basic_interface/close2.bmp" data-hover="basic_interface/close2_a.bmp"></button>
			</div>
	
		</div>

		<div class="clear">

			<section class="container flex_block">

				<div class="flex container">

					<div style=" flex: 1;">
						<div class="flex_block btn_iw">
							<div class="inbox" id="inbox" style="flex: 1;"></div>
							<div class="write" id="write" style="flex: 1;"></div>
						</div>
					</div>

					
					<div class="list_mail flex_block" >
						<!-- list mail -->
						<div class="block_mail" >
							<div class="list_item_mail">
								
							</div>
							<div class="flex prev_next">
								<div class="prev" >
									<div class="overlay_prev"></div>
									<span class="text_pagination" data-text="1053">Prev</span>
								</div>
								<div class="pagination" >
									<span class="text" id="infor_page" >1/1</span>
								</div>
								<div class="next">
									<div class="overlay_next margin_next"></div>
									<span class="text_pagination margin_next" data-text="1054">Next</span>
								</div>
							</div>							
						</div>
						<!-- create mail -->
						<div class="block_create_mail" >
							<div class="to_create_mail" >
								<span class="text text_to_title">
									<span  data-text="1099">To</span> :</span>
								<div style="flex: 4;">
									<input class="text_to" type="text" value="" maxlength="50"/>
								</div>
							</div>
							<div class="title_create_mail" >
								<span class="text text_title_create_mail">
									<span  data-text="1100">Title</span> :</span>
								<div style="flex: 4;">
									<input class="input_title" type="text" value="" maxlength="50"/>
								</div>								
							</div>
							<div class="email_body">
								<textarea class="textarea_mail" maxlength="198"></textarea>
							</div>
							<div class="block_zeny_item">
								<button class="add_zeny" id="zeny_amt" data-background="basic_interface/inputzeny.bmp" data-hover="basic_interface/inputzeny_a.bmp"></button>
								<button class="add_zeny" id="zeny_ok" data-background="basic_interface/setzeny.bmp" data-hover="basic_interface/setzeny_a.bmp"></button>
								<div class="block_zeny">
									<input class="input_zeny_amt" type="text" value="" maxlength="9" disabled/>
								</div>

								<div class="block_item">
									<div class="container_item" >
										<div class="overlay"></div>
									</div>
								</div>
							</div>

							<div class="block_send_cancel" >
								<button class="create_mail_btn" id="create_mail_send" data-background="basic_interface/send.bmp" data-hover="basic_interface/send_a.bmp"></button>
								<button class="create_mail_btn" id="create_mail_cancel" data-background="basic_interface/cancel2.bmp" data-hover="basic_interface/cancel2_a.bmp"></button>
							</div>
						</div>
					</div>
				</div>				
			</section>
		</div>
	</div>
	
</div>