#PlayerViewEquipV1 { position:absolute; width:280px; }

#PlayerViewEquipV1 .clear { clear:both; }

#PlayerViewEquipV1 .titlebar { width:280px; height:17px; background-color:white; background-repeat:repeat-x; border-radius:3px 3px 0px 0px; }
#PlayerViewEquipV1 .titlebar .base { width:11px; height:11px; border:none; background-color:transparent; background-repeat:no-repeat; vertical-align:middle;}
#PlayerViewEquipV1 .titlebar .PlayerName { text-shadow:1px 1px white; vertical-align:-2px; white-space:nowrap;
 /* chrome bug */ display: inline-block; width: 150px; height:13px; }

#PlayerViewEquipV1 .titlebar .left { margin-left:3px; float:left; }
#PlayerViewEquipV1 .titlebar .right { float:right; margin-right:3px;}
#PlayerViewEquipV1 .titlebar .clear { clear:both; }

#PlayerViewEquipV1 .vieweqtab-manager { position: relative; width:inherit; background-color: white; height:15px; display: flex; }

#PlayerViewEquipV1 .vieweqtab a { width: 60px; height: 100%; color: #42454a; border: 1px solid #c9c3ba; border-bottom: none; text-decoration: none; display: inline-block; vertical-align: bottom; border-radius: 3px 3px 0 0; text-align: center; }
#PlayerViewEquipV1 .vieweqtab a.selected { color: #000; font-weight: bold; border-bottom: 1px solid white; position: relative; z-index: 100; background-color: white; }
#PlayerViewEquipV1 .vieweqtab a.selected:after { content: ""; display: block; height: 1px; width: 1px; position: absolute; bottom: -1px; left: -1px; }

#PlayerViewEquipV1 .panel { background-color:white; border-top: 1px solid gray; height: 130px; }
#PlayerViewEquipV1 table.vieweqcontent { width:280px; height:130px; border-spacing:0; }
#PlayerViewEquipV1 table.vieweqcontent.hide { display: none; }
#PlayerViewEquipV1 .vieweqcontent { display:inline-block; width:280px; height:130px; border-spacing:0; }
#PlayerViewEquipV1 .col1, #PlayerViewEquipV1 .col3  { width:115px; height:24px; background-color:transparent; background-repeat:no-repeat; }
#PlayerViewEquipV1 .col1 { background-position:5% 50%; min-width: 110px; }
#PlayerViewEquipV1 .col3 { background-position:95% 50%; min-width: 110px; }

#PlayerViewEquipV1 .overlay { position:absolute; display:none; white-space:nowrap; z-index:900; height:13px; padding:5px; background:rgba(0,0,0,0.7); color:white; text-shadow:1px 1px black;}

#PlayerViewEquipV1 .item button { width:24px; height:24px; background-color:transparent; background-repeat:no-repeat; border: none; }
#PlayerViewEquipV1 .item span { width:80px; height:24px; display:inline-block; line-height:12px; word-break:break-all; overflow:hidden; text-shadow:1px 1px white; }

#PlayerViewEquipV1 .col3 .item button, #PlayerViewEquipV1 .col3 .item span { float:right; }
#PlayerViewEquipV1 .col1 .item button, #PlayerViewEquipV1 .col1 .item span { float:left; }
#PlayerViewEquipV1 .col1 .item { padding-left:4px; }
#PlayerViewEquipV1 .col3 .item { padding-right:4px; }
#PlayerViewEquipV1 .col1 .item .itemName { display: flex; align-items: center; }
#PlayerViewEquipV1 .col3 .item .itemName { display: flex; align-items: center; }

#PlayerViewEquipV1 .ammo_container { position:relative; }
#PlayerViewEquipV1 .ammo { position:absolute; top:30px; }
#PlayerViewEquipV1 .ammo .item { text-align:center; }
#PlayerViewEquipV1 .ammo .item span { width:45px; }
#PlayerViewEquipV1 .cartitems { position:absolute; top:65px; left:14px; width:36px; height:36px; background-repeat:no-repeat; background-color:transparent; border:none; display:none; }
#PlayerViewEquipV1 .removeOption { position:absolute; top:90px; left:12px; width:36px; height:36px; background-repeat:no-repeat; background-color:transparent; border:none; display:none; }

#PlayerViewEquipV1 .footer { height:20px; border-bottom:1px solid #c0c0c0; }
#PlayerViewEquipV1 .footer .left { float:left; text-align:left; margin-left:5px; margin-top:3px; }
#PlayerViewEquipV1 .footer .right { float:right; text-align:right; margin-right:5px; margin-top:3px; }
#PlayerViewEquipV1 .footer .view_status { width:9px; height:14px; border:none; background-color:transparent; background-repeat:no-repeat; }
#PlayerViewEquipV1 .footer .show_equip { width:10px; height:12px; border:none; background-color:transparent; background-repeat:no-repeat; }

#lvlup_base { z-index:51; position:absolute; left:0px; bottom:0px; width:43px; height:43px; border:none; background-color:transparent; background-repeat:no-repeat; }
