<div id="ReadMail">
	<div class="body" data-background="basic_interface/maillist3_bg.bmp">
		<div class="titlebar">
			<div class="left">
				<span class="text" id="title" data-text="1027">Read Mail</span>
			</div>
			<div class="right">
				<button class="base close" data-background="basic_interface/close2.bmp" data-hover="basic_interface/close2_a.bmp"></button>
			</div>
	
		</div>

		<div class="clear">

			<section class="container flex_grid">

				<div class="title" style="flex: 1; background-color: #0000005e;" >
				</div>

				<div class="name_sender" style="flex: 1; background-color:#ffa50042;" >
				</div>

				<div class="mail_body" style="flex: 1; background-color: #db709338; padding: 101px;" >
				</div>

				<div class="zeny_item" style="flex: 1; background-color:#0000ff7a; padding: 4px">
				</div>

				<div class="btn_return_reply_remove" style="flex: 1; background-color: #ff000059;" >
				</div>

			</section>
		</div>
	</div>
	
</div>