<div id="MercenaryInformations">
	<div class="content" data-background="basic_interface/homuninfo_bg.bmp">
		<div class="left">
			<span class="text">Mercenary Info</span>
		</div>
		<div class="right">
			<button
				class="base close"
				data-background="basic_interface/sys_close_off.bmp"
				data-hover="basic_interface/sys_close_on.bmp"
			></button>
		</div>
		<div class="clear"></div>

		<div class="title_name">Name</div>
		<div class="name"></div>
		<div class="title_level">Level</div>
		<div class="level"></div>

		<button
			class="skill"
			data-background="btn_skill.bmp"
			data-hover="btn_skill_a.bmp"
			data-down="btn_skill_b.bmp"
		></button>
		<button
			class="dismiss"
			data-background="btn_del.bmp"
			data-hover="btn_del_a.bmp"
			data-down="btn_del_b.bmp"
		></button>

		<div class="stats">
			<div class="atk"></div>
			<div class="Matk"></div>
			<div class="hit"></div>
			<div class="critical"></div>
			<div class="def"></div>
			<div class="Mdef"></div>
			<div class="flee"></div>
			<div class="aspd"></div>
		</div>

		<div class="hp_bar">
			<div class="hp_bar_left"></div>
			<div class="hp_bar_middle"></div>
			<div class="hp_bar_right"></div>
			<div class="hp_bar_perc"><span class="hp_value"></span> / <span class="hp_max_value"></span></div>
		</div>
		<div class="hp2"></div>

		<div class="sp_bar">
			<div class="sp_bar_left"></div>
			<div class="sp_bar_middle"></div>
			<div class="sp_bar_right"></div>
			<div class="sp_bar_perc"><span class="sp_value"></span> / <span class="sp_max_value"></span></div>
		</div>
		<div class="sp2"></div>

		<div class="block2">
			<div class="title_timeleft">
				Time Left
				<div class="timeleft"></div>
			</div>
			<canvas class="life title_timeleft" width="60" height="5"></canvas>

			<div class="title_kills">
				Kills
				<div class="kills"></div>
			</div>
			<canvas class="life title_kills" width="60" height="5"></canvas>

			<div class="title_faith">
				Faith
				<div class="faith"></div>
			</div>
		</div>
	</div>
</div>
