#SwitchEquip {
	position: absolute;
	width: 280px;
	height: 179px;
}

#SwitchEquip .clear {
	clear: both;
}

#SwitchEquip .titlebar {
	position: absolute;
	top: 2px;
	width: 280px;
	height: 17px;
	background-color: transparent;
	border-radius: 3px 3px 0px 0px;
	text-align: center;
	z-index: 99;
}

#SwitchEquip .panel {
	background-color: white;
	height: 179px;
}
#SwitchEquip table.swapcontent {
	position: absolute;
	top: 0px;
	width: 280px;
	height: 179px;
	border-spacing: 0;
}
#SwitchEquip table.swapcontent.hide {
	display: none;
}
#SwitchEquip table tbody {
	position: absolute;
	top: 20px;
}
#SwitchEquip .swapcontent {
	display: inline-block;
	width: 280px;
	height: 179px;
	border-spacing: 0;
}
#SwitchEquip .col1,
#SwitchEquip .col3 {
	width: 115px;
	height: 24px;
	background-color: transparent;
	background-repeat: no-repeat;
}
#SwitchEquip .col1 {
	background-position: 5% 50%;
	min-width: 110px;
}
#SwitchEquip .col3 {
	background-position: 95% 50%;
	min-width: 110px;
}

#SwitchEquip .switchoverlay {
	position: absolute;
	display: none;
	white-space: nowrap;
	z-index: 900;
	height: 13px;
	padding: 5px;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	text-shadow: 1px 1px black;
}

#SwitchEquip .item button {
	width: 24px;
	height: 24px;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
}
#SwitchEquip .item span {
	width: 80px;
	height: 24px;
	display: inline-block;
	line-height: 12px;
	word-break: break-all;
	overflow: hidden;
	text-shadow: 1px 1px white;
}

#SwitchEquip .col3 .item button,
#SwitchEquip .col3 .item span {
	float: right;
}
#SwitchEquip .col1 .item button,
#SwitchEquip .col1 .item span {
	float: left;
}
#SwitchEquip .col1 .item {
	padding-left: 4px;
}
#SwitchEquip .col3 .item {
	padding-right: 4px;
}
#SwitchEquip .col1 .item .itemName {
	display: flex;
	align-items: center;
}
#SwitchEquip .col3 .item .itemName {
	display: flex;
	align-items: center;
}

#SwitchEquip .ammo_container {
	position: relative;
}
#SwitchEquip .ammo {
	position: absolute;
	top: 30px;
}
#SwitchEquip .ammo .item {
	text-align: center;
}
#SwitchEquip .ammo .item span {
	width: 45px;
}
#SwitchEquip .cartitems {
	position: absolute;
	top: 65px;
	left: 14px;
	width: 36px;
	height: 36px;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	display: none;
}
#SwitchEquip .removeOption {
	position: absolute;
	top: 90px;
	left: 12px;
	width: 36px;
	height: 36px;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	display: none;
}

#SwitchEquip .footer {
	position: relative;
	top: -30px;
	height: 30px;
}

#SwitchEquip .footer button.closeswap {
	position: absolute;
	width: 43px;
	height: 20px;
	border: none;
	background-repeat: no-repeat;
	right: 5px;
	top: 5px;
}

#SwitchEquip .footer button.onswap {
	position: absolute;
	width: 120px;
	height: 20px;
	border: none;
	background-repeat: no-repeat;
	left: 80px;
	top: 5px;
	text-align: center;
}

#SwitchEquip .disabled {
	pointer-events: none; /* Prevents clicking */
}
