<div id="ShortCuts">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button class="base" data-background="basic_interface/sys_base_off.bmp" data-hover="basic_interface/sys_base_on.bmp"></button>
			<span class="text" data-text="574">ShortCuts</span>
		</div>
		<div class="right">
			<button class="base close" data-background="basic_interface/sys_close_off.bmp" data-hover="basic_interface/sys_close_on.bmp"></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="overlay"></div>
	<div class="panel">
		<div class="alt">

			<label for="alt_1">Alt + 1</label>
			<input type="text" id="alt_1" class="alt_" name="alt_1" ><br>

			<label for="alt_2">Alt + 2</label>
			<input type="text" id="alt_2" class="alt_" name="alt_2" ><br>

			<label for="alt_3">Alt + 3</label>
			<input type="text" id="alt_3" class="alt_" name="alt_3" ><br>

			<label for="alt_4">Alt + 4</label>
			<input type="text" id="alt_4" class="alt_" name="alt_4" ><br>

			<label for="alt_5">Alt + 5</label>
			<input type="text" id="alt_5" class="alt_" name="alt_5" ><br>

			<label for="alt_¨6">Alt + 6</label>
			<input type="text" id="alt_6" class="alt_" name="alt_6" ><br>

			<label for="alt_7">Alt + 7</label>
			<input type="text" id="alt_7" class="alt_" name="alt_7" ><br>

			<label for="alt_8">Alt + 8</label>
			<input type="text" id="alt_8" class="alt_" name="alt_8" ><br>

			<label for="alt_9">Alt + 9</label>
			<input type="text" id="alt_9" class="alt_" name="alt_9" ><br>

			<label for="alt_0">Alt + 0</label>
			<input type="text" id="alt_0" class="alt_" name="alt_0" ><br>
			
		</div>
		<div class="footer" data-background="basic_interface/btnbar_mid2.bmp">
			<button class="emoticons" id="emoticons_shortcuts" data-background="btn_view.bmp" data-down="btn_view_a.bmp" data-hover="btn_view_b.bmp"></button>
		</div>
	</div>
</div>
