<div class="whisper-container">
	<div class="whisper-header">
		<span class="title">With weeeee (Friend) *^.^* [813-338]</span>
		<button
			class="close"
			data-background="basic_interface/sys_close_off.bmp"
			data-hover="basic_interface/sys_close_on.bmp"
		></button>
	</div>
	<div class="whisper-body">
		<div class="content"></div>
	</div>
	<div class="whisper-footer">
		<div class="input-wrapper">
			<div contenteditable="true" class="message input-whisper"></div>
		</div>
		<div class="resizer event_add_cursor" data-background="btn_resize.bmp"></div>
	</div>
</div>
