<div id="QuestInfoV1">
	<div class="titlebar" data-background="basic_interface/quest_window.bmp">
		<div class="content">
			<button class="quest-info-close-btn" data-background="basic_interface/sys_close_on.bmp" data-hover="basic_interface/sys_close_off.bmp" data-down="basic_interface/sys_close_off.bmp"></button>
			<div class="title">title</div>
			<div class="summary">summary</div>
			<div class="objective">objective</div>
			<div class="monster">monster</div>
			<div class="killed">killed</div>
			<div class="limited">limited</div>
		</div>
	</div>
</div>