<div id="Pincodewindow">
    <div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
        <div class="left">
            <button class="base" data-background="basic_interface/sys_base_off.bmp" data-hover="basic_interface/sys_base_on.bmp"></button>
            <span class="text" data-text="1899">Pincodewindow</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="panel" data-background="basic_interface/2ndpassword_bg.bmp">
        <span class="txtlabel text1" data-text="1905">Pincodewindow</span>
        <span class="txtlabel text2" data-text="1906">Pincodewindow</span>
        <button class="btn num1" type="submit" data-background="basic_interface/1-a.bmp" data-hover="basic_interface/1-b.bmp" data-down="basic_interface/1-c.bmp"></button>
        <button class="btn num2" type="submit" data-background="basic_interface/2-a.bmp" data-hover="basic_interface/2-b.bmp" data-down="basic_interface/2-c.bmp"></button>
        <button class="btn num3" type="submit" data-background="basic_interface/3-a.bmp" data-hover="basic_interface/3-b.bmp" data-down="basic_interface/3-c.bmp"></button>
        <button class="btn num4" type="submit" data-background="basic_interface/4-a.bmp" data-hover="basic_interface/4-b.bmp" data-down="basic_interface/4-c.bmp"></button>
        <button class="btn num5" type="submit" data-background="basic_interface/5-a.bmp" data-hover="basic_interface/5-b.bmp" data-down="basic_interface/5-c.bmp"></button>
        <button class="btn num6" type="submit" data-background="basic_interface/6-a.bmp" data-hover="basic_interface/6-b.bmp" data-down="basic_interface/6-c.bmp"></button>
        <button class="btn num7" type="submit" data-background="basic_interface/7-a.bmp" data-hover="basic_interface/7-b.bmp" data-down="basic_interface/7-c.bmp"></button>
        <button class="btn num8" type="submit" data-background="basic_interface/8-a.bmp" data-hover="basic_interface/8-b.bmp" data-down="basic_interface/8-c.bmp"></button>
        <button class="btn num9" type="submit" data-background="basic_interface/9-a.bmp" data-hover="basic_interface/9-b.bmp" data-down="basic_interface/9-c.bmp"></button>
        <button class="btn num0" type="submit" data-background="basic_interface/0-a.bmp" data-hover="basic_interface/0-b.bmp" data-down="basic_interface/0-c.bmp"></button>
        <button class="numReset" type="submit" data-background="basic_interface/reset-a.bmp" data-hover="basic_interface/reset-b.bmp" data-down="basic_interface/reset-c.bmp"></button>
        <span class="txtlabel pwd" data-text="1012">Pincodewindow</span>
        <input class="pass" type="password" value="" />
        <span class="txtlabel newpwd" data-text="1013" >Pincodewindow</span>
        <input class="newpass" type="password" value="" />
        <span class="txtlabel checkpwd" data-text="1014">Pincodewindow</span>
        <input class="checkpass" type="password" value="" />
        <button class="btn2 ok" type="submit" data-background="btn_big_ok.bmp" data-hover="btn_big_ok_a.bmp" data-down="btn_big_ok_b.bmp"></button>
        <!--<button class="btn2 next" type="submit" data-background="btn_out_mid.bmp" data-hover="btn_over_mid.bmp" data-down="btn_press_mid.bmp"></button>-->
        <button class="btn2 change" type="submit" data-background="btn_big_change.bmp" data-hover="btn_big_change_a.bmp" data-down="btn_big_change_b.bmp"></button>
        <button class="btn2 verify" type="submit" data-background="btn_big_next.bmp" data-hover="btn_big_next_a.bmp" data-down="btn_big_next_b.bmp"></button>
        <button class="btn2 unused" type="submit" data-background="btn_big_unused.bmp" data-hover="btn_big_unused_a.bmp" data-down="btn_big_unused_b.bmp"></button>
        <button class="btn2 cancel" type="submit" data-background="btn_big_cancel.bmp" data-hover="btn_big_cancel_a.bmp" data-down="btn_big_cancel_b.bmp"></button>
    </div>
    <div class="footer" data-background="basic_interface/btnbar_mid2.bmp">
    </div>
</div>
