<div id="Reputation">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button class="base" data-background="basic_interface/sys_base_off.bmp" data-hover="basic_interface/sys_base_on.bmp"></button>
			<span class="text" data-text="3827"></span>
		</div>
		<div class="right">
			<button class="base close" data-background="basic_interface/sys_close_off.bmp" data-hover="basic_interface/sys_close_on.bmp"></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="overall_container">
		<div class="header">
			<div class="select-wrapper">
			<select id="repute_groups" class="rep_group_selector">
				<option value="all" data-text="3829"></option>
			</select>
			<button type="button" class="select-arrow" data-background="basic_interface/txtbox_btn_a.bmp" data-hover="basic_interface/txtbox_btn_b.bmp" data-down="basic_interface/txtbox_btn_c.bmp"></button>
			</div>
			<div class="search_wrapper">
				<input class="rep_group_searchbar" type="text" /> </input>
				<button class="search" data-background="reputation/btn_search.bmp" data-hover="reputation/btn_search_over.bmp" data-down="reputation/btn_search_press.bmp"></button>
			</div>
			<div class="rep_group_total_points_wrapper">
				<div class="rep_group_text">GROUP:</div>
				<div class="rep_indicator"></div>
				<div class="rep_group_total_points_value"></div>
			</div>
		</div>
		<div class="content">
		</div>
		<div class="paginator">
			<button class="page_prev" data-background="reputation/arrow_prev.bmp"></button>
			<span class="page_text">1 / 1</span>
			<button class="page_next" data-background="reputation/arrow_next.bmp"></button>
		</div>
		<div class="footer" data-background="basic_interface/btnbar_mid2.bmp">
			<button class="big_btn_close" data-background="basic_interface/btn_close.bmp" data-hover="basic_interface/btn_close_a.bmp" data-down="basic_interface/btn_close_b.bmp"></button>
		</div>
	</div>
</div>