name: Format

concurrency:
    group: ${{ github.repository }}-${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}
    
on:
    push:
        branches:
            - master
    pull_request:

permissions:
    contents: write

jobs:
    prettier:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
              with:
                  ref: ${{ github.head_ref }}

            - uses: actions/setup-node@v4
              with:
                  node-version: '18'

            - run: npm i

            - name: Run Prettier (fix)
              run: npx prettier . --write

            - name: Commit changes
              if: github.event_name == 'push'
              run: |
                  git config user.name "github-actions"
                  git config user.email "github-actions@github.com"
                  git add -A
                  git reset .github/workflows/

                  git diff --cached --quiet || git commit -m "style: auto format with prettier"
                  git push
