name: Lint

concurrency:
    group: ${{ github.repository }}-${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}
    
on:
    push:
        branches:
            - master
    pull_request:

permissions:
    contents: write

jobs:
    eslint:
        name: ESLint
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '18'

            - name: Install dependencies
              run: npm i

            - name: Run ESLint
              run: npm run lint . --fix

            - name: Commit changes
              if: github.event_name == 'push' && github.actor != 'github-actions[bot]'
              run: |
                  git config user.name "github-actions"
                  git config user.email "github-actions@github.com"
                  git add -A
                  git reset .github/workflows/

                  git diff --cached --quiet || git commit -m "code-quality: auto-fix with lint"
                  git push
